<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
    <header th:replace="includes/navbar.html :: navbar(option='Actores')"></header>
    <main>
        <br>
        <div class="page-header text-center">
            <h1>Actores</h1>
        </div>
        <br>
            <div class="container">
                <form class="form-group mb-3" method="post" th:action="@{/actores/buscar}">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Texto a buscar" name="search" >
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                            <a class="btn btn-outline-danger ml-2" th:href="@{/actores}">Limpiar</a>
                        </div>
                    </div>
                </form>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="actor : ${listaActores}">
                        <div class="card shadow-sm">
                            <img th:src="${actor.foto}" style="height: 100px ;width: 70px">
                            <div class="card-body text-center">
                                <p th:text="${actor.nombre}"></p>
                                <p th:text="${actor.correo}" class="card-text"></p>
                                <p th:text="${actor.telefono}" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>