<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="/includes/navbar.html :: navbar(option = 'Historial')" id="header" class="d-flex align-items-center">
        </header>
        <div class="container">
            <div class="row" >
                <div class="col-xl">
                    <p class="title">Calificacion</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>OBRA</h2>
                    <table class="table" id="tabla_obra">
                        <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;" scope="col">Foto</th>
                                <th style="text-align: center;" scope="col">Funcion</th>
                                <th style="text-align: center;" scope="col">Calificacion</th>
                                <th style="text-align: center;" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="obra,i: ${listaobras}">
                                <td style="text-align: center;" th:text="${i.index + 1}"></td>
                                <td style="text-align: center;" th:text="${obra.getFoto()}"></td>
                                <td style="text-align: center;" th:text="${obra.getNombreobra()}"></td>
                                <td style="text-align: center;" th:text="${obra.getCalificacion()}"></td>
                                <td>
                                <span class="fa fa-star"  style="cursor: pointer;" id="1obra"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="2obra"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="3obra"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="4obra"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="5obra"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>DIRECTOR</h2>
                    <table class="table" id="tabla_director">
                        <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;" scope="col">Foto</th>
                                <th style="text-align: center;" scope="col">Nombre</th>
                                <th style="text-align: center;" scope="col">Apellido</th>
                                <th style="text-align: center;" scope="col">Correo</th>
                                <th style="text-align: center;" scope="col">Calificacion</th>
                                <th style="text-align: center;" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="director,i: ${listadirector}">
                                <td style="text-align: center;" th:text="${i.index + 1}"></td>
                                <td style="text-align: center;" th:text="${director.getFoto()}"></td>
                                <td style="text-align: center;" th:text="${director.getNombreDirector()}"></td>
                                <td style="text-align: center;" th:text="${director.getApellidoDirector()}"></td>
                                <td style="text-align: center;" th:text="${director.getCorreo()}"></td>
                                <td style="text-align: center;" th:text="${director.getCalificacion()}"></td>
                                <td>
                                <span class="fa fa-star"  style="cursor: pointer;" id="1director"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="2director"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="3director"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="4director"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="5director"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>ACTORES</h2>
                    <table class="table" id="tabla_actor">
                        <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;" scope="col">Foto</th>
                                <th style="text-align: center;" scope="col">Nombre</th>
                                <th style="text-align: center;" scope="col">Apellido</th>
                                <th style="text-align: center;" scope="col">Correo</th>
                                <th style="text-align: center;" scope="col">Calificacion</th>
                                <th style="text-align: center;" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="actor,i: ${listaactor}">
                                <td style="text-align: center;" th:text="${i.index + 1}"></td>
                                <td style="text-align: center;" th:text="${actor.getFoto()}"></td>
                                <td style="text-align: center;" th:text="${actor.getNombreActor()}"></td>
                                <td style="text-align: center;" th:text="${actor.getApellidoActor()}"></td>
                                <td style="text-align: center;" th:text="${actor.getCorreo()}"></td>
                                <td style="text-align: center;" th:text="${actor.getCalificacion()}"></td>
                                <td>
                                <span class="fa fa-star"  style="cursor: pointer;" id="1actor"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="2actor"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="3actor"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="4actor"></span>
                                <span class="fa fa-star"  style="cursor: pointer;" id="5actor"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
        <footer th:replace="/includes/footer.html :: footer"></footer>
        <script>

            $('#tabla_obra').on('click','tr .fa-star',function (e){
                let count;
                count = e.currentTarget.id[0];
                let nombre = e.currentTarget.id.substring(1);
                let row = $(this).closest("tr");
                row.find('calificacion').val(count);
                for(let i=0;i<5;i++){
                    if(i<contador){
                        document.getElementById((i+1)+nombre).style.color="orange";
                    }else{
                        document.getElementById((i+1)+nombre).style.color="black";
                    }
                }
            });

            var contador;
            function calificar(item){
                console.log(item);
                contador=item.id[0];//capturamos el primer caracter
                let nombre = item.id.substring(1);
                for(let i=0;i<5;i++){
                    if(i<contador){
                        document.getElementById((i+1)+nombre).style.color="orange";
                    }else{
                        document.getElementById((i+1)+nombre).style.color="black";
                    }
                }
            }
        </script>
    </body>
</html>