<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="includes/navbar.html :: navbar(option='Funciones')"></header>
        <div class="container padding-bottom-3x mb-1" style=" margin-top: 25px;">
            <form method="post" enctype="multipart/form-data">
                <div class="table-responsive shopping-cart">
                    <h1 class="title">Mi carrito</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IMAGEN</th>
                                <th>Funcion</th>
                                <th class="text-center">Fecha/Hora</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Sede</th>
                                <th class="text-center">Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="funcion,i : ${carrito}">
                                <td><img th:src="@{/img/moby_dick.jpg}" width="30rem" height="30rem">
                                </td>
                                <td class="text-center text-lg text-medium" th:text="${funcion.funcion.idobra.nombre}"></td>
                                <td class="text-center text-lg text-medium" th:text="${funcion.funcion.fecha}"></td>
                                <td class="text-center text-lg text-medium" th:text="${funcion.cantidad}"></td>
                                <td class="text-center text-lg text-medium" th:text="${funcion.sede.nombre}"></td>
                                <td class="text-center text-lg text-medium" th:text="${funcion.costoTotal}"></td>
                                <td class="text-center">
                                    <a th:href="@{${'/carrito/borrar?num='+i.index}}" class="btn btn-outline-danger flex-shrink-0">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="shopping-cart-footer">
                        <div class="column header-display">
                            <a type="button" class="btn btn-success" th:href="@{/carrito/comprar}">
                                Comprar Ahora
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>