<!DOCTYPE html>

<html lang="es">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="includes/navbar.html :: navbar-usuario(option='Funciones')"></header>
        <div class="container padding-bottom-3x mb-1", style=" margin-top: 25px;">
            <form method="post" enctype="multipart/form-data">
                <div class="table-responsive shopping-cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Productos</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="">Limpiar Carrito</a></th>
                                <th class="text-center">Receta</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#"><img alt="Product"></a>
                                        <div class="product-info">
                                            <h4 class="product-title"><a href="#"></a></h4><span><em>Codigo:</em></span><span><em>Stock:</em></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium"></td>
                                <td class="text-center text-lg text-medium">S/</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-danger flex-shrink-0" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="shopping-cart-footer">
                        <div class="column">
                            <button onclick="" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Proyecto Ingenieria Web : TeleDrugs</p></div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="FlujoUsuario/js/scripts.js"></script>
    </body>
            </html>