<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="includes/head.html :: head">MIMESIS</head>
  <body>
    <div class="container">
      <header th:replace="includes/navbar.html :: navbar"></header>
      <div class="row title-page">
        <h1 class="text-page">Obra</h1>
        <h4 class="text-page" th:text="${'DISFRUTA DE '+obra.nombre}"></h4>
      </div>
      <div class="row">
        <div class="col details-image">
          <img class="image-details" th:src="@{|/images/${obra.getId()}|}">
        </div>
        <div class="col pad-0">
          <div class="row info-row1">
            <div class="col info-col1">
              <h2>Sinopsis</h2>
            </div>
          </div>
          <div class="row info-row2">
            <div class="col info-col2">
              <h2 th:text="${obra.descripcion}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero explicabo dignissimos veniam minus iure cumque perspiciatis architecto dolorum fugiat facere provident nostrum voluptatem reiciendis voluptas consequuntur ducimus, corrupti repudiandae voluptatum?
              </h2>
            </div>
          </div>
          <div class="row info-row3">
            <div class="col info-col3">
              <h2 th:text="${obra.getGeneroIdgenero().nombre} + ${' | +' +obra.restricciondeedad}">
              </h2>
            </div>
          </div>
          <div class="row info-row4">
            <div class="col info-col4">
              <h2>Reserva aquí</h2>
              <div class="row detalle-reserva">
                <div class="col">
                  <form method="post" th:action="@{${'/carrito/reservar?obra='+obra.nombre}}">
                    <div class="d-flex justify-content-center align-items-center container-select">
                      <select th:if="${listaTeatros.size() != 0 && listaTeatros.size() != null}" class="form-select select-center" name="teatro">
                        <option SELECTED value="0">Selecciona el teatro</option>
                        <option th:each="teatro : ${listaTeatros}" th:value="${teatro.id}" th:text="${teatro.nombre +'| '+ teatro.ubicacion}"></option>
                      </select>
                      <p th:if="${listaTeatros.size() == 0 || listaTeatros.size() == null}" class="text-center mt-3">NO HAY FUNCIONES DISPONIBLES</p>
                    </div>
                    <div class="btn-center d-flex justify-content-evenly">
                      <button type="submit" class="btn btn-success">Reservar</button>
                      <a th:href="@{/funciones}" class="btn btn-secondary">Regresar</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert" th:classappend="${alerta}" th:if="${reserva != null}" th:text="${reserva}"></div>
      <footer th:replace="includes/footer.html :: footer"></footer>
    </div>
  </body>
</html>
