<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>

    <header th:replace="includes/navbar.html :: navbar(option='Directores')"></header>
    <main>
        <h1 class="title-principal text-center">Directores</h1>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="text-center">
                                <h2>Nombre</h2>
                            </div>
                            <img th:src="@{img/director.jpg}">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="text-center">
                                    <p>Correo Electronico</p>
                                    <p>Numero de Telefono</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="text-center">
                                <h2>Nombre</h2>
                            </div>
                            <img th:src="@{img/director.jpg}">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="text-center">
                                    <p>Correo Electronico</p>
                                    <p>Numero de Telefono</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>