<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>

    <header th:replace="includes/navbar.html :: navbar(option='Directores')"></header>
    <main>
        <br>
        <div class="page-header text-center">
            <h1 class="mayus">Directores</h1>
        </div>
        <br>
            <div class="container">
                <form class="form-group mb-3" method="post" th:action="@{/directores/buscar}">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Texto a buscar" name="search" >
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                            <a class="btn btn-outline-danger ml-2" th:href="@{/directores}">Limpiar</a>
                        </div>
                    </div>
                </form>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-content">
                    <div class="col" th:each="director : ${listaDirectores}">
                        <div class="card shadow-sm header-display">
                            <img class="im-image" th:src="@{|/directores/${director.id}|}">
                            <div class="card-body text-center">
                                <p th:text="${director.nombre}"></p>
                                <p th:text="${director.correo}" class="card-text"></p>
                                <p th:text="${director.telefono}" class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <div class="pages">
    </div>
<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>