<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
    <div class="container">
        <header th:replace="includes/navbar.html :: navbar">
        </header>
        <div class="row title-page">
            <h1 class="text-page">Editar perfil</h1>
            <h4 class="text-page">Información personal</h4>
        </div>
        <div class="row title-page">
            <div class="col-md-6">
                <form method="post"  th:action="@{/perfil/save}" th:object="${usuario}" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{nombre}">
                    <input type="hidden" th:field="*{apellido}">
                    <input type="hidden" th:field="*{correo}">
                    <input type="hidden" th:field="*{contrasena}">
                    <input type="hidden" th:field="*{rol}">
                    <input type="hidden" th:field="*{valido}">
                    <input type="hidden" th:field="*{emailconfirm}">
                    <input type="hidden" th:field="*{dni}">

                    <div class="mb-3">
                        <div class="mb-3">
                            <label class="col-form-label">Numero Telefonico</label>
                            <input type="text" class="form-control" th:field="*{numerotelefonico}" th:classappend="${(#fields.hasErrors('numerotelefonico') || msg != null) ? 'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('numerotelefonico')}"
                                 th:errors="*{numerotelefonico}"></div>
                            <div class="invalid-feedback" th:if="${msg != null}"
                                 th:text="${msg}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" th:field="*{fechanacimiento}" th:classappend="${#fields.hasErrors('fechanacimiento')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fechanacimiento')}"
                                 th:errors="*{fechanacimiento}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label">Direccion</label>
                            <input type="text" class="form-control" th:field="*{direccion}" th:classappend="${#fields.hasErrors('direccion')?'is-invalid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}"
                                 th:errors="*{direccion}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name3" class="col-form-label">Foto de perfil</label>
                            <input type="file" class="form-control"
                                   name="archivo" id="recipient-name3" accept="image/*">
                        </div>
                    </div>

                    <div class="header-display form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a th:href="@{/perfil}" class="btn btn-light">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>
    </div>
</body>
</html>