<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
<header th:replace="includes/navbar.html :: navbar(option = 'Principal')">
</header>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div th:if="${msg != null}" class="alert alert-dismissible fade show" th:classappend="${opcion}" role="alert">
            <i class="bi bi-check-circle-fill"></i>
            <span th:text="${msg}">Registro Exitoso</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h1 class="title">Editar perfil</h1>
        <div id="contenedor2" class="row header-display fondo">
            <div class="col-md-6">
                <form method="post"  th:action="@{/perfil/save}" th:object="${usuario}" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{nombre}"/>
                    <input type="hidden" th:field="*{apellido}"/>
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{correo}"/>
                    <input type="hidden" th:field="*{contrasena}"/>
                    <input type="hidden" th:field="*{dni}"/>
                    <input type="hidden" th:field="*{rol}"/>
                    <input type="hidden" th:field="*{valido}"/>
                    <input type="hidden" th:field="*{emailconfirm}"/>
                    <input type="hidden" th:field="*{authprovider}"/>
                    <input type="hidden" th:field="*{resetpwdtoken}"/>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label class="col-form-label">Numero Telefonico</label>
                            <input type="text" class="form-control" th:field="*{numerotelefonico}" th:classappend="${#fields.hasErrors('numerotelefonico')?'is-invaid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('numerotelefonico')}"
                                 th:errors="*{numerotelefonico}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" th:field="*{fechanacimiento}" th:classappend="${#fields.hasErrors('fechanacimiento')?'is-invaid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fechanacimiento')}"
                                 th:errors="*{fechanacimiento}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label">Direccion</label>
                            <input type="text" class="form-control" th:field="*{direccion}" th:classappend="${#fields.hasErrors('direccion')?'is-invaid':''}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}"
                                 th:errors="*{direccion}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name3" class="col-form-label">Foto de perfil</label>
                            <input type="file" class="form-control"
                                 name="archivo" id="recipient-name3" accept="image/*">
                        </div>
                    </div>

                    <div class="header-display form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a th:href="@{/perfil}" class="btn btn-light">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
<br>
<br>
<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>