<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>

        <div class="container">
            <header th:replace="includes/navbar.html :: navbar(option='Funciones')" id="header" class="d-flex align-items-center">
            </header>
            <div class="row title-page">
                <h1 class="text-page" th:text="${sede.nombre + ' ' + obra.nombre}"></h1>
                <h4 class="text-page">elija el horario y sus boletos de preferencia</h4>
            </div>
            <div class="row title-page">
                <div class="col">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="th-carrito" scope="col">#</th>
                                <th class="th-carrito" scope="col">Fecha</th>
                                <th class="th-carrito" scope="col">Hora inicio</th>
                                <th class="th-carrito" scope="col">Hora Fin</th>
                                <th class="th-carrito" scope="col">Costo</th>
                                <th class="th-carrito" scope="col">Boletos disponibles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="f,i : ${listaFunciones}" th:if="${((f.funcion.valido) && f.boletos >0)}">
                                <th class="td-carrito" th:text="${i.index + 1}" ></th>
                                <td class="td-carrito" th:text="${f.getFuncion().getFecha()}"></td>
                                <td class="td-carrito" th:text="${f.getFuncion().getHorainicio()}"></td>
                                <td class="td-carrito" th:text="${f.getFuncion().getHorafin()}"></td>
                                <td class="td-carrito" th:text="${f.funcion.getCosto()}"></td>
                                <td class="td-carrito"th:text="${f.getBoletos()}"></td>
                                <td class="td-carrito">
                                <form method="post" th:action="@{/carrito/funcion}">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Seleccionar
                                </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Selecciona la cantidad de boletos a comprar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input class="form-control" type="number" th:max="${f.getBoletos()}" min="1" name="cantidad">
                                                    <input class="form-control" type="hidden" name="funcion" th:value="${f.getFuncion().id}">
                                                    <input class="form-control" type="hidden" name="boletos" th:value="${f.getBoletos()}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer th:replace="includes/footer.html :: footer"></footer>
        </div>
    </body>
</html>