<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
        <header th:replace="includes/navbar.html :: navbar(option ='Funciones')"></header>
    <main>
        <br>
        <div class="page-header text-center">
            <h1 class="mayus">Obras</h1>
        </div>
        <br>

        <div class="container">
            <form class="form-group mb-3" method="post" th:action="@{/funciones/buscar}">
                <div class="row">
                    <div class="col-10">
                        <input class="form-control" placeholder="Texto a buscar" name="search">
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                        <a class="btn btn-outline-danger ml-2" th:href="@{/funciones}">Limpiar</a>
                    </div>
                </div>
            </form>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="funcion : ${listaObras}">
                    <div class="card shadow-sm header-display">
                        <img class="im-image" th:src="@{|/images/${funcion.getId()}|}">
                        <div class="card-body text-center">
                            <p th:text="${funcion.nombre}+${', +' + funcion.restricciondeedad}"></p>
                            <a class="btn btn-terc" th:href="@{'/funciones/detalles'+ '?obra=' + ${funcion.nombre}}">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>