<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
        <header th:replace="includes/navbar.html :: navbar(option ='Funciones')"></header>
    <main>
        <h1 class="text-center title-principal">Funciones</h1>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="funcion : ${listaFunciones}">
                        <div class="card shadow-sm">
                            <img th:src="@{img/mobi_dick.jpg}">
                            <div class="card-body">
                                <h2 class="card-text" th:text="${funcion.nombre}"></h2>
                                <p class="card-text" th:text="${funcion.genero} + ', ' +${funcion.horafin} + ', +' +${funcion.restricciondeedad}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button"  th:href="@{/detalles}" class="btn btn-sm btn-outline-secondary">Ver Detalles</a>
                                        <a  th:href="@{/detalles}" type="button" class="btn btn-sm btn-outline-secondary">Reservar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>