<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
    <div class="container">
        <header th:replace="includes/navbar.html :: navbar">
        </header>
        <div class="row title-page">
            <h1 class="text-page">Historial de funciones</h1>
            <h4 class="text-page">revisa tu historial y califica</h4>
        </div>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-dismissible fade show" th:classappend="${opcion}" role="alert"></div>
        <div class="form-buscador">
            <form class="form-group mb-3" method="get" th:action="@{/historial}">
                <div class="row">
                    <div class="col-3 mt-4">
                        <input type="text" class="form-control" placeholder="Texto a buscar" name="search" >
                    </div>
                    <div class="col-2">
                        <label for="fechainicio" class="letter">Fecha Inicio</label>
                        <input id="fechainicio" class="form-control" type="date" name="FechaInicio"/>
                    </div>
                    <div class="col-2">
                        <label for="fechafin" class="letter">Fecha Fin</label>
                        <input id="fechafin" class="form-control" type="date" name="FechaFin"/>
                    </div>
                    <div class="col-3 mt-4">
                        <select id="searchby" class="form-select" name="categoria" >
                            <option value="Nombre">Funcion</option>
                            <option value="Sede">Sede</option>
                            <option value="Asistido">Asistido</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Fecha">Fecha</option>
                        </select>
                    </div>
                    <div class="col-2 mt-4 d-flex justify-content-center">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
            <div class="row historial-page">
                    <div class="alert" th:classappend="${alerta}" th:if="${reserva != null}" th:text="${reserva}"></div>
                    <table class="table table-stripped">
                        <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;" scope="col" ><i class="bi bi-arrow-down-up"></i></th>
                                <th class="th-carrito" scope="col">Funcion</th>
                                <th class="th-carrito" scope="col">Sede</th>
                                <th class="th-carrito" scope="col">Sala</th>
                                <th class="th-carrito" scope="col" >Fecha<i class="bi bi-arrow-down-up"></i></th>
                                <th class="th-carrito" scope="col" >Hora Inicio</th>
                                <th class="th-carrito" scope="col" >Hora Fin</th>
                                <th class="th-carrito" scope="col" >#Tickets</th>
                                <th class="th-carrito" scope="col" >Costo</th>
                                <th class="th-carrito" scope="col" >Estado de la Función</th>
                                <th class="th-carrito" scope="col">Calificacion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="historial-content contenido-pagination">
                            <tr class="historial" th:each="funcion,i : ${listaHistorial}">
                                <div class="contenido">
                                <td class="td-carrito" th:text="${i.index + 1}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().getIdobra().nombre}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().getIdsala().getIdsede().getNombre()}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().getIdsala().getNombre()}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().fecha}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().horainicio}"></td>
                                <td class="td-carrito" th:text="${funcion.getFuncion().horafin}"></td>
                                <td class="td-carrito" th:text="${funcion.getCantidad()}"></td>
                                <td class="td-carrito" th:text="${funcion.getCostoTotal()}"></td>
                                <td th:text="${funcion.getBoletoValido() ? 'Pendiente' : 'Asistido'}" class="td-carrito"></td>
                                <td>
                                    <a th:if="${!funcion.getBoletoValido() && funcion.getCalificacions().size() == 0}" class="btn btn-outline-success flex-shrink-0 td-carrito" th:href="@{'/calificacion' + '?idfuncion='+ ${funcion.getFuncion().id}
                            + '&idobras='+ ${funcion.getFuncion().getIdobra().id} + '&directorid='+ ${funcion.getFuncion().getIddirector().id}}">
                                        Calificacion
                                    </a>
                                    <label class="td-carrito" th:if="${funcion.getCalificacions().size() != 0}"> Usted ya califico esta función</label>
                                </td>
                                <td th:if="${funcion.validar}" class="text-center" >
                                    <form method="post" th:action="@{'/borrarboleto?idfuncion='+${funcion.getFuncion().id}}">
                                        <button  onclick="return confirm('¿Esta seguro que desea cancelar la compra de esta función?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
            </div>
        <div class="row">
            <div class="col">
                <div class="pages">
                </div>
            </div>
        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>
    </div>
    <script>
        function getPageList(totalpages,page,maxLenght){
            function range(start,end){
                return Array.from(Array(end-start+1),(_,i) => i +start);
            }
            var sideWidth=maxLenght < 9 ? 1 : 2;
            var leftWidth=(maxLenght-sideWidth*2 - 3 ) >> 1;
            var rightWidth=(maxLenght-sideWidth*2 - 3 ) >> 1;

            if(totalpages <= maxLenght){
                return range(1,totalpages);
            }
            if(page<= maxLenght-sideWidth-1-rightWidth){
                return range(1,maxLenght-sideWidth-1).concat(0,range(totalpages-sideWidth+1,totalpages));
            }
            if(page>= maxLenght-sideWidth-1-rightWidth){
                return range(1,sideWidth).concat(0,range(totalpages-sideWidth-rightWidth-leftWidth-1,totalpages));
            }
            return range(1,sideWidth).concat(0,range(page-leftWidth,page+rightWidth),0,range(totalpages-sideWidth+1,totalpages));
        }
        $(function (){
            var numberOfItems = $(".historial").length;
            var limitPerPage = 5;//Limite por pagina
            var totalPages=Math.ceil(numberOfItems / limitPerPage);
            var paginationSize=5;
            var currentPage;
            function showPage(whichPage){
                if(whichPage<1 || whichPage > totalPages) return false;
                currentPage=whichPage;
                $(".historial-content .historial").hide().slice((currentPage-1)*limitPerPage,currentPage*limitPerPage).show();
                $(".pages2 li").slice(1,-1).remove()
                getPageList(totalPages,currentPage,paginationSize).forEach(item =>{
                    $("<li>").addClass("pages-item").addClass(item ? "current-pages" : "dots").toggleClass("active",item === currentPage).append($("<a>").addClass("pages-link")
                        .attr({href :"javascript:void(0)"}).text(item || "...")).insertBefore(".next-pages");
                })
                $(".previous-pages").toggleClass("disable",currentPage === 1);
                $(".next-pages").toggleClass("disable",currentPage === totalPages);
                return true;
            }
            $(".pages2").append(
                $("<li>").addClass("pages-item").addClass("previous-pages").append($("<a>").addClass("pages-link").attr({href: "javascript:void(0)"}).text("Prev")),
                $("<li>").addClass("pages-item").addClass("next-pages").append($("<a>").addClass("pages-link").attr({href: "javascript:void(0)"}).text("Next"))
            );
            $(".historial-content").show();
            showPage(1);
            $(document).on("click",".pages2 li.current-pages:not(.active)",function (){
                showPage(+$(this).text());
            });
            $(".next-pages").on("click",function (){
                showPage(currentPage+1);
            });
            $(".previous-pages").on("click",function (){
                showPage(currentPage-1);
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
            crossorigin="anonymous">
    </script>
</body>
</html>