<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
<header th:replace="includes/navbar.html :: navbar(option='Historial')" id="header" class="d-flex align-items-center">
</header>
<div class='container container-app'>
    <main>
        <br>
        <div class="page-header text-center">
            <h1 class="mayus">HISTORIAL DE FUNCIONES</h1>
        </div>
        <form class="form-group mb-3" method="get" th:action="@{/historial}">
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Texto a buscar" name="search" >
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    <a class="btn btn-outline-danger ml-2" th:href="@{/historial}">Limpiar</a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col" sec:authorize="isAuthenticated()">
                <table class="table table-stripped" id="historial">
                    <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;" scope="col" ><i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col">Funcion<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col">Sede<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col">Sala</th>
                        <th style="text-align: center;" scope="col" >Fecha<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col" >Hora Inicio</th>
                        <th style="text-align: center;" scope="col" >Hora Fin</th>
                        <th style="text-align: center;" scope="col" >#Tickets<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col" >Costo<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col" >Estado<i class="bi bi-arrow-down-up"></i></th>
                        <th style="text-align: center;" scope="col">Calificacion</th>
                        <th style="text-align: center;" scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="datos,i: ${listaHistorial}">
                        <td style="text-align: center;" th:text="${i.index + 1}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombreobra()}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombresede()}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombresala()}"></td>
                        <td style="text-align: center;" th:text="${datos.getFecha()}"></td>
                        <th style="text-align: center;" th:text="${datos.getHorainicio()}"></th>
                        <th style="text-align: center;" th:text="${datos.getHorafin()}"></th>
                        <th style="text-align: center;" th:text="${datos.getCantidad()}"></th>
                        <th style="text-align: center;" th:text="${datos.getCostototal()}"></th>
                        <td th:text="${datos.getEstado() ? 'Vigente' : 'Asistido'}" style="text-align: center;"></td>
                        <td>
                            <a th:if="${!datos.getEstado()}" class="btn btn-outline-success flex-shrink-0" th:href="@{'/calificacion' + '?idfuncion='+ ${datos.getFuncionid()}
                            + '&idobras='+ ${datos.getIdobras()} + '&directorid='+ ${datos.getDirectorid()}}">
                                Calificacion
                            </a>
                        </td>
                        <td class="text-center" >
                            <form id="idboleto" method="get" th:action="@{'/borrarboleto?idboleto=' + ${datos.getFuncionid()}}">
                                <input name="idfuncion" th:value="${datos.getFuncionid()}" type="hidden"/>
                                <button  onclick="return confirm('¿Esta seguro que desea cancelar la compra de esta función?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <!--tr th:each="datos,i: ${listaHistorial2}">
                        <td style="text-align: center;" th:text="${i.index + 1}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombreobra()}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombresede()}"></td>
                        <td style="text-align: center;" th:text="${datos.getNombresala()}"></td>
                        <td style="text-align: center;" th:text="${datos.getFecha()}"></td>
                        <th style="text-align: center;" th:text="${datos.getHorainicio()}"></th>
                        <th style="text-align: center;" th:text="${datos.getHorafin()}"></th>
                        <th style="text-align: center;" th:text="${datos.getCantidad()}"></th>
                        <th style="text-align: center;" th:text="${datos.getCostototal()}"></th>
                        <td th:text="${datos.getEstado() ? 'Vigente' : 'Asistido'}" style="text-align: center;"></td>
                        <td>
                            <a th:if="${!datos.getEstado()}" class="btn btn-outline-success flex-shrink-0" th:href="@{'/calificacion' + '?idfuncion='+ ${datos.getFuncionid()}
                            + '&idobras='+ ${datos.getIdobras()} + '&directorid='+ ${datos.getDirectorid()}}">
                                Calificacion
                            </a>
                        </td>
                        <td class="text-center" >
                            <form id="idfuncion" method="get" th:action="@{'/historial/borrarfuncion?idfuncion=' + ${datos.getFuncionid()}}">
                                <input name="idfuncion" th:value="${datos.getFuncionid()}" type="hidden"/>
                                <button  onclick="return confirm('¿Esta seguro que desea cancelar la compra de esta función?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr-->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"

        crossorigin="anonymous">
</script>

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
        crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
        crossorigin="anonymous">
</script>
<script>
    $(document).ready( function () {
        $('#historial').DataTable({
            language: {
                processing: "Tratamiento en curso...",
                infoEmpty: "No existen datos.",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron datos con tu busqueda",
                emptyTable: "No hay datos disponibles en la tabla.",
                lengthMenu: "",
                info: "",
                infoEmpty: "No existen datos.",
                infoFiltered: "(filtrado de _MAX_ elementos en total)",
                infoPostFix: "",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                aria: {
                    sortAscending: ": active para ordenar la columna en orden ascendente",
                    sortDescending: ": active para ordenar la columna en orden descendente"
                }
            },
            scrollY: 300,
            lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
            "searching": false,
            "ordering": true,
        });
    } );
</script>
<footer th:replace="includes/footer.html :: footer"></footer>

</body>
</html>