<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background: black">
        <header th:replace="includes/navbar.html :: navbar-usuario(option = 'Principal')">
        </header>

        <main class="hero">
            <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
                <h1 class="mb-4 pb-0">Teatros<br>MI<span>MESIS</span></h1>
                <p class="mb-4 pb-0">El arte de imitar a la naturaleza</p>
            </div>
        </main>

        <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>