<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Mimesis</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body style="background-color:black;">
        <header id="header" class="d-flex align-items-center ">
                <div class="container-fluid container-xxl d-flex align-items-center">
                    <div class="col" style="width: 70px !important; "  >
                        <img style="height: 60px; width: 60px; float: right ; margin-right: 10px " th:src="@{img/logoWhiteFace.png}" alt="" title="">
                    </div>
                    <div class="col" id="logo"  >
                        <div class="col" style="width: 220px; " ><h1><a>MI<span>MESI</span></a></h1></div>
                    </div>


                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href="">Home</a></li>
                            <li><a class="nav-link scrollto" href="#about">Teatros</a></li>
                            <li><a class="nav-link scrollto" href="#speakers">Funciones</a></li>
                            <li><a class="nav-link scrollto" href="#schedule">Actores</a></li>
                            <li><a class="nav-link scrollto" href="#venue">Directores</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->
                    <a class="buy-tickets scrollto" href="#buy-tickets">Iniciar sesion</a>

                </div>
        </header>

    <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>