<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="includes/head.html :: head">MIMESIS</head>
    </head>
    <body>
        <header th:replace="includes/navbar.html :: navbar-usuario(option = 'Principal')">
        </header>
        <div class="container bootstrap snippets bootdey">
            <div class="panel-body inf-content">
                <h1 class="title-principal">Mi perfil</h1>
                <div id="contenedor2" class="row header-display fondo">
                    <div class="col-md-4">
                        <img title="" class="img-circle img-thumbnail isTooltip" th:src="@{/img/cachin.png}" data-original-title="Usuario">
                        <div style="display:flex; align-items:center; justify-content:center;"class="column">
                            <a><label  style="margin-top:10px;"for="files" class="btn btn-primary">Subir imagen</label>
                                <input formenctype="multipart/form-data"  onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" id="files" style="visibility:hidden; position:absolute" name="file" type="file" accept="image/*"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                DNI
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            666666666
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-user  text-primary"></span>
                                                Nombre
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            Kchin
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                Apellido
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            ALcantara
                                        </td>
                                    </tr>



                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                Distrito
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            San Miguel
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Correo
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            kchin@pucp.edu.pe
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Numero Telefonico
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            972551391
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Fecha de nacimiento
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            15/03/01
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Direccion
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            Jr. Mirones 1672
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="header-display">
                                <button id="botoneditar" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Editar Perfil</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" th:action="@{/perfil/save}">
                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Numero de Telefono</label>
                                                        <input name="telefono" type="text" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name2" class="col-form-label">Fecha de nacimiento</label>
                                                        <input name="fechadenacimiento" type="date" class="form-control" id="recipient-name2">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name4" class="col-form-label">Direccion</label>
                                                        <input name="direccion" type="text" class="form-control" id="recipient-name4">
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-group">
                                                            <label for="recipient-name3" class="col-form-label">Distrito:</label>
                                                            <select id="recipient-name3" class="form-control form-select-sm" name="Distrito">
                                                                <option value="Ancón">Ancón</option>
                                                                <option value="Ate">Ate</option>
                                                                <option value="Barranco">Barranco</option>
                                                                <option value="Breña">Breña</option>
                                                                <option value="Carabayllo">Carabayllo</option>
                                                                <option value="Chaclacayo">Chaclacayo</option>
                                                                <option value="Chorrillos">Chorrillos</option>
                                                                <option value="Cieneguilla">Cieneguilla</option>
                                                                <option value="Comas">Comas</option>
                                                                <option value="El Agustino">El Agustino</option>
                                                                <option value="Independencia">Independencia</option>
                                                                <option value="Jesus María">Jesus María</option>
                                                                <option value="La Molina">La Molina</option>
                                                                <option value="La Victoria">La Victoria</option>
                                                                <option value="Lima">Lima</option>
                                                                <option value="Lince">Lince</option>
                                                                <option value="Los Olivos">Los Olivos</option>
                                                                <option value="Lurigancho">Lurigancho</option>
                                                                <option value="Lurín">Lurín</option>
                                                                <option value="Magdalena del Mar">Magdalena del Mar</option>
                                                                <option value="Miraflores">Miraflores</option>
                                                                <option value="Pachacamac">Pachacamac</option>
                                                                <option value="Pucusana">Pucusana</option>
                                                                <option value="Pueblo Libre">Pueblo Libre</option>
                                                                <option value="Puente Piedra">Puente Piedra</option>
                                                                <option value="Punta Hermosa">Punta Hermosa</option>
                                                                <option value="Punta Negra">Punta Negra</option>
                                                                <option value="Rimac">Rimac</option>
                                                                <option value="San Bartolo">San Bartolo</option>
                                                                <option value="San Borja">San Borja</option>
                                                                <option value="San Isidro">San Isidro</option>
                                                                <option value="San Juan de Lurigancho">San Juan de Lurigancho</option>
                                                                <option value="San Juan de Miraflores">San Juan de Miraflores</option>
                                                                <option value="San Luis">San Luis</option>
                                                                <option value="San Martin de Porres">San Martin de Porres</option>
                                                                <option value="San Miguel">San Miguel</option>
                                                                <option value="Santa Anita">Santa Anita</option>
                                                                <option value="Santa María del Mar">Santa María del Mar</option>
                                                                <option value="Santa Rosa">Santa Rosa</option>
                                                                <option value="Santiago de Surco">Santiago de Surco</option>
                                                                <option value="Surquillo">Surquillo</option>
                                                                <option value="Villa el Salvador">Villa el Salvador</option>
                                                                <option value="Villa María del Triunfo">Villa María del Triunfo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <button onclick="return confirm('¿Estas seguro que deseas editar tus datos?')" type="submit" class="btn btn-primary">Aceptar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>