<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
<header th:replace="includes/navbar.html :: navbar(option = 'Principal')">
</header>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <h1 class="title">Completar perfil</h1>
        <div id="contenedor2" class="row header-display fondo">
            <div class="col-md-6" sec:authorize="isAuthenticated()">
                <form method="POST" th:object="${usuario}" th:action="@{'/perfil/save'}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="recipient-name3" class="col-form-label">Foto de perfil</label>
                        <input type="file" class="form-control"
                               name="archivo" id="recipient-name3" th:value="${cliente.fotoperfil}">
                    </div>

                    <div class="header-display form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>