<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="includes/navbar.html :: navbar(option='Teatros')"></header>
        <main>
            <h1 class="title">Teatros</h1>
            <div class="album py-5">
                <div class="container">
                    <form class="form-group mb-3" method="post" th:action="@{/teatros/buscar}">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" placeholder="Texto a buscar" name="search" >
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-primary" type="submit">Buscar</button>
                                <a class="btn btn-outline-danger ml-2" th:href="@{/teatros}">Limpiar</a>
                            </div>
                        </div>
                    </form>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" th:each="teatro :${listaTeatros}">
                            <div class="card shadow-sm">
                                <img th:src="@{/img/teatro.jpg}">
                                <div class="card-body text-center">
                                    <p th:text="${teatro.nombre}"></p>
                                    <p th:text="${teatro.ubicacion}" class="card-text"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>