<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
<div class='container container-app'>
        <header th:replace="includes/navbar.html :: navbar(option='Teatros')"></header>

    <div id="content">
        <main>
            <br>
            <div class="page-header text-center">
                <h1>Teatros</h1>
            </div>
            <br>
            <div class="container-fluid">

                <form class="form-group mb-3" method="post" th:action="@{/teatros/buscar}">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Texto a buscar" name="search" >
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                            <a class="btn btn-outline-danger ml-2" th:href="@{/teatros}">Limpiar</a>
                        </div>
                    </div>
                </form>
                <table class="table table-striped" id="teatro">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="width: 18%">Nombre</th>
                            <th style="width: 32%">Distrito</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="teatro : ${listaTeatros}">
                            <td><img th:src="${teatro.fotosporsede}" style="height: 100px ;width: 70px"></td>
                            <td th:text="${teatro.nombre}"></td>
                            <td th:text="${teatro.ubicacion}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"

                crossorigin="anonymous">
        </script>

        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
                crossorigin="anonymous">
        </script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
                crossorigin="anonymous">
        </script>
        <script>
            $(document).ready( function () {
                $('#teatro').DataTable({
                    language: {
                        processing: "Tratamiento en curso...",
                        infoEmpty: "No existen datos.",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron datos con tu busqueda",
                        emptyTable: "No hay datos disponibles en la tabla.",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "",
                        infoFiltered: "(filtrado de _MAX_ elementos en total)",
                        infoPostFix: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": active para ordenar la columna en orden ascendente",
                            sortDescending: ": active para ordenar la columna en orden descendente"
                        }
                    },
                    scrollY: 480,
                    lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
                    "searching": false,
                    "ordering": false,
                });
            } );
        </script>
<footer th:replace="includes/footer.html :: footer"></footer>
</body>
</html>