<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background-color: white;">
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <div class="container mt-3"></div>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom">Gestión de Actores y Directores</h2>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-sm bg-light text-start" style="max-width:30%;">
                    <label>Rol</label>
                    <select class="form-select text-left text-lg text-medium">
                        <option>Actor</option>
                        <option>Director</option>
                    </select>
                </div>

                <div class="col-sm bg-light text-end">
                    <a class="btn btn-secondary" th:href="@{'/admin/agregaractoresydirectores'}">Agregar persona</a>
                </div>

            </div>
        </div>

        <h1 style="margin-right: auto; margin-left: auto; margin-top: 20px; max-width: 1000px;">Lista de Actores</h1>
        <div style="margin-right: auto; margin-left: auto; margin-top: 20px; max-width: 1000px;">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Foto</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="actor,i : ${listaActores}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${actor.nombre}"></td>
                        <td th:text="${actor.apellido}"></td>
                        <td class="text-center text-lg text-medium"><a style="margin-right: 10px;margin-left: 10px;"><img th:src="@{/img/actor.png}" with="50" height="50"></a></td>
                        <td class="text-center text-lg text-medium">
                            <a class="btn btn-primary" th:href="@{'/admin/editaractoresydirectores'}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td class="text-center">
                            <!--
                            <div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalToggleLabel">Confirmación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estas seguro de que quiere eliminar la sala?
                                        </div>
                                        <div class="modal-footer">
                                            <button style="margin-right:10px" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-success" onclick="alert('Se ha eliminado la sala')" data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <a class="remove-from-cart" data-bs-toggle="modal" href="#exampleModalToggle" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="bi bi-trash"></i></a> -->
                            <!-- <div class="column"><a style="width:120px; margin:5px;" class="btn btn-success" > <i class="bi bi-trash" ></i> </a></div> -->
                            <form id="1" method="post" action="">
                                <input name="test" value="1" type="hidden"/>
                                <button onclick="return confirm('¿Esta seguro que desea eliminar a la persona?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 style="margin-right: auto; margin-left: auto; margin-top: 20px; max-width: 1000px;">Lista de Directores</h1>
        <div style="margin-right: auto; margin-left: auto; margin-top: 20px; max-width: 1000px;">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Foto</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="director,i : ${listaDirectores}">
                    <td th:text="${i.index + 1}"></td>
                    <td th:text="${director.nombre}"></td>
                    <td th:text="${director.apellido}"></td>
                    <td class="text-center text-lg text-medium"><a style="margin-right: 10px;margin-left: 10px;"><img th:src="@{/img/director.jpg}" with="50" height="50"></a></td>
                    <td class="text-center text-lg text-medium">
                        <a class="btn btn-primary" th:href="@{'/admin/editaractoresydirectores'}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td class="text-center">
                        <!--
                        <div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Confirmación</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estas seguro de que quiere eliminar la sala?
                                    </div>
                                    <div class="modal-footer">
                                        <button style="margin-right:10px" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button class="btn btn-success" onclick="alert('Se ha eliminado la sala')" data-bs-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <a class="remove-from-cart" data-bs-toggle="modal" href="#exampleModalToggle" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="bi bi-trash"></i></a> -->
                        <!-- <div class="column"><a style="width:120px; margin:5px;" class="btn btn-success" > <i class="bi bi-trash" ></i> </a></div> -->
                        <form id="1" method="post" action="">
                            <input name="test" value="1" type="hidden"/>
                            <button onclick="return confirm('¿Esta seguro que desea eliminar a la persona?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="column" style="margin-top:20px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>
    </body>
</html>