<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <head th:replace="includes/head.html :: head">MIMESIS</head>
    </head>
    <body>
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 mb-4 border-bottom">Nueva Sala</h1>
                <form method="post"  class="col-4" th:action="@{'/admin/savesalas'}" >
                    <input type="hidden"  />
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la Sala</label>
                        <input name="nombre" type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="aforo" class="form-label">Aforo</label>
                        <input name="aforo" type="text" class="form-control" id="aforo" >
                    </div>
                    <div class="col-sm bg-light text-start" style="max-width:30%;">
                        <label for="idsede" >Sede</label>
                        <select id="idsede" name="idsede" class="form-select text-left text-lg text-medium">
                            <option th:each="sede:${sedeList}"
                            th:value="${sede.id}"
                            th:text="${sede.nombre}">
                            </option>
                        </select>
                    </div>
                    <br>
                    <a th:href="@{'/admin/salas'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>


    </body>
</html>