<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
<section>
    <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
</section>
<main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 mb-4 border-bottom">Agregar Staff</h1>
                <form method="post"  class="col-4" >
                    <input type="hidden"  />

                    <div class="col-sm bg-light text-start" style="max-width:30%;">
                        <label>Rol</label>
                        <select class="form-select text-left text-lg text-medium">
                            <option>Actor</option>
                            <option>Director</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Foto</label>
                        <input type="text" class="form-control" >
                    </div>

                    <a th:href="@{'/admin/actoresydirectores'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>


    </body>
</html>