<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <head th:replace="includes/head.html :: head">MIMESIS</head>
    </head>
    <body>
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 mb-4 border-bottom">Agregar Sedes</h1>
                <form method="post"  class="col-4" th:action="@{'/admin/savesedes'}" enctype="multipart/form-data">
                    <input type="hidden"/>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la sede</label>
                        <input name="nombre" id="nombre" type="text" class="form-control" >
                    </div>
                    <div class="col-sm bg-light text-start" >
                        <label for="ubicacion" class="form-label">Ubicacion</label>
                        <input name="ubicacion" id="ubicacion" type="text" class="form-control" >
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-1">
                            <label for="archivo" class="form-label">Fotos</label>
                            <input style="color: transparent;" type="file" accept="image/*" id="archivo" name="archivo" multiple>
                        </div>
                    </div>
                    <br>
                    <a th:href="@{'/admin/sedes'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>

            </div>
        </main>
    </body>
</html>