<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background-color: white;">
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <div class="container mt-3"></div>
        <div class="container mt-3">
            <div style="margin-right: auto; margin-left: auto; max-width: 1000px; text-align: center">
                <h2 class="pb-2">Gestión de Clientes</h2>
            </div>
        </div>

    <div class="container">
        <!--<label>Buscar por Sede</label>
        <div class="row">
            <form class="form-group mb-3" method="post" th:action="@{/admin/searchclientes}">
                <div class="row">
                    <div class="col-9">
                        <select name="sedes" id="sedes" class="form-select text-left text-lg text-medium">
                            <option th:each="sedes:${listasedes}" th:text="${sedes.nombre}" th:value="${sedes.id}"></option>
                        </select>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>-->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Numero telefonico</th>
                <th class="text-center">Direccion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario,i : ${listaClientes}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${usuario.nombre}+' '+${usuario.apellido}"></td>
                <td th:text="${usuario.dni}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.numerotelefonico}"></td>
                <td th:text="${usuario.direccion}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="column" style="margin-top:20px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>
<footer th:replace="includes/footer.html :: footer"></footer>

</body>
</html>