<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
<section>
    <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
</section>
<main>
    <div class="container mt-5" style="margin-right: auto; margin-left: auto; max-width: 500px;">
        <section style="max-width:100%; background: black; padding:30px; margin: auto; border-radius: 4px; font-family: 'Century Gothic'; color: white;box-shadow: 7px 13px 37px #000;">
            <div style="max-width: 1000px; text-align: center">
                <h1 class="pb-2 mb-4 border-bottom">Editar Director</h1>
                <form method="post" th:action="@{'/admin/editdirector'}" th:object="${director}" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{nombre}"/>
                    <input type="hidden" th:field="*{apellido}"/>
                    <input type="hidden" th:field="*{valido}"/>
                    <input type="hidden" th:field="*{foto}"/>
                    <div class="mb-3">
                        <label class="form-label">Correo del Director</label>
                        <input type="text" class="form-control" th:field="*{correo}" th:classappend="${#fields.hasErrors('correo')?'is-invalid':''}"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}"
                             th:errors="*{correo}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefono del Director</label>
                        <input type="text" class="form-control" th:field="*{telefono}" th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}"
                             th:errors="*{telefono}"></div>
                    </div>
                    <a th:href="@{'/admin/directores'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </section>
    </div>
</main>
</body>
</html>