<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <head th:replace="includes/head.html :: head">MIMESIS</head>
    </head>
    <body>
        <header th:replace="includes/navbar.html :: navbar(option='Actores')"></header>
        <main>
            <div class="container mt-5" style="margin-right: auto; margin-left: auto; max-width: 400px; text-align: center">
                <section style="max-width:100%; background: black; padding:30px; margin: auto; border-radius: 4px; font-family: 'Century Gothic'; color: white;box-shadow: 7px 13px 37px #000;">
                <h1 class="pb-2 mb-4 border-bottom">Editar Salas</h1>
                <form method="post" th:action="@{'/admin/savesalas'}" th:object="${sala}">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{valido}"/>
                    <div class="mb-3">
                        <label class="form-label">Nombre de sala</label>
                        <input type="text" class="form-control" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}"
                             th:errors="*{nombre}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" >Aforo</label>
                        <input type="number" class="form-control" th:field="*{aforo}" th:classappend="${#fields.hasErrors('aforo')?'is-invalid':''}"   >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('aforo')}"
                             th:errors="*{aforo}"></div>
                    </div>
                    <div>
                        <label >Sede</label>
                        <select th:field="*{idsede}" class="form-select text-left text-lg text-medium">
                            <option th:each="sede:${sedeList}"
                                    th:value="${sede.id}"
                                    th:text="${sede.nombre}">
                            </option>
                        </select>
                    </div>
                    <br>
                    <a th:href="@{'/admin/salas'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                </section>
            </div>
        </main>
    </body>
</html>