<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background-color: white;">
        <section>
        <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <div class="container mt-3"></div>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom">Gestión de salas</h2>
            </div>
        </div>

    <div class="container">
            <label>Sede</label>
            <div class="row">
                <form class="form-group mb-3" method="post" th:action="@{/admin/searchsalas}">
                    <div class="row">
                        <div class="col-9">
                         <select class="form-select text-left text-lg text-medium" name="sedes">
                             <option th:each="sedes:${listasedes}" th:text="${sedes.nombre}" th:value="${sedes.id}"></option>
                          </select>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-secondary" th:href="@{'/admin/agregarsalas'}">Agregar sala</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${msg != null}" class="alert alert-dismissible fade show" th:classappend="${opcion}" role="alert">
                <i class="bi bi-check-circle-fill"></i>
                <span th:text="${msg}">Registro Exitoso</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Nombre de la sala</th>
                    <th class="text-center">Sede</th>
                    <th class="text-center">Aforo</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>
                </tr>
            </thead>
        <tbody>
            <tr th:each="sala: ${salaList}">
                <td th:text="${sala.nombre}"></td>
                <td th:text="${sala.idsede.getNombre()}"></td>
                <td th:text="${sala.aforo}"></td>
                <!--td class="text-center text-lg text-medium">Diciembre 10,1815</td-->
                <td class="text-center text-lg text-medium">
                    <a class="btn btn-primary" th:href="@{'/admin/editarsalas?id=' + ${sala.id}}"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td class="text-center">
                    <form id="id" method="get" th:action="@{'/admin/borrar?id=' + ${sala.id}}">
                        <input name="id" th:value="${sala.id}" type="hidden"/>
                        <button onclick="return confirm('¿Esta seguro que desea eliminar la sala?')"  class="btn btn-outline-danger flex-shrink-0" type="submit" >
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
        <div class="column" style="margin-top:20px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <footer th:replace="includes/footer.html :: footer"></footer>

    </body>
</html>