<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background-color: white;">
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <div class="container mt-3"></div>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom">Gestión de sedes</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="form-group mb-3" method="post" th:action="@{/admin/searchsedes}">
                    <div class="row" >
                        <div class="col-8">
                            <input class="form-control" placeholder="Buscar nombre de la sede" name="search" >
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                            <a class="btn btn-outline-danger ml-2" th:href="@{/admin/sedes}">Limpiar</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-secondary" th:href="@{'/admin/agregarsedes'}">Agregar sede</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${msg != null}" class="alert alert-dismissible fade show" th:classappend="${opcion}" role="alert">
                <i class="bi bi-check-circle-fill"></i>
                <span th:text="${msg}">Registro Exitoso</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table class="table table-striped" id="sedes1">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre de la Sede</th>
                        <th class="text-center">Ubicación</th>
                        <th class="text-center">Foto</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="sede,i : ${listaSedes}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${sede.nombre}"></td>
                        <td th:text="${sede.ubicacion}"></td>
                        <td><img th:if="${sede.fotosporsede !=null}" th:src="@{|imagesedes/${sede.id}|}" width="50" height="50" ></td>
                        <td th:text="${sede.valido == true ? 'Vigente' : 'No vigente'}"></td>
                        <td class="text-center" th:if="${sede.valido == true}"><a class="btn btn-primary" th:href="@{'/admin/editarsedes?id=' + ${sede.id}}" disabled><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td class="text-center" th:if="${sede.valido==true}">
                            <form id="id" method="get" th:action="@{'/admin/borrarsede?id=' + ${sede.id}}" disabled>
                                <input name="id" th:value="${sede.id}" type="hidden"/>
                                <button onclick="return confirm('¿Esta seguro que desea eliminar la sede?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"

                crossorigin="anonymous">
        </script>

        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
                crossorigin="anonymous">
        </script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
                crossorigin="anonymous">
        </script>
        <script>
            $(document).ready( function () {
                $('#salas1').DataTable({
                    language: {
                        processing: "Tratamiento en curso...",
                        infoEmpty: "No existen datos.",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron datos con tu busqueda",
                        emptyTable: "No hay datos disponibles en la tabla.",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "No existen datos.",
                        infoFiltered: "(filtrado de _MAX_ elementos en total)",
                        infoPostFix: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": active para ordenar la columna en orden ascendente",
                            sortDescending: ": active para ordenar la columna en orden descendente"
                        }
                    },
                    scrollY: 300,
                    lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
                    "searching": false,
                    "ordering": false,
                });
            } );
        </script>
        <footer th:replace="includes/footer.html :: footer"></footer>

    </body>
</html>