<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body style="background-color: white;">
        <section>
            <header th:replace="includes/navbaradmin.html :: navbar-usuario"></header>
        </section>
        <div class="container mt-3"></div>
        <div class="container mt-3">
            <div class="col-md-4 offset-md-4">
                <h2 class="pb-2 border-bottom">Gestión de sedes</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="form-group mb-3" method="post" th:action="@{/admin/searchsedes}">
                    <div class="row" >
                        <div class="col-8">
                            <input class="form-control" placeholder="Buscar nombre de la sede" name="search" >
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                            <a class="btn btn-outline-danger ml-2" th:href="@{/admin/sedes}">Limpiar</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-secondary" th:href="@{'/admin/agregarsedes'}">Agregar sede</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${msg != null}" class="alert alert-dismissible fade show" th:classappend="${opcion}" role="alert">
                <i class="bi bi-check-circle-fill"></i>
                <span th:text="${msg}">Registro Exitoso</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre de la Sede</th>
                        <th class="text-center">Ubicación</th>
                        <th class="text-center">Foto</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="sede,i : ${listaSedes}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${sede.nombre}"></td>
                        <td th:text="${sede.ubicacion}"></td>
                        <td><img th:if="${sede.fotosporsede !=null}" th:src="@{|imagesedes/${sede.id}|}" width="50" height="50" ></td>
                        <td class="text-center">
                            <a class="btn btn-primary" th:href="@{'/admin/editarsedes?id=' + ${sede.id}}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td class="text-center">
                            <form id="id" method="get" th:action="@{'/admin/borrarsede?id=' + ${sede.id}}">
                                <input name="id" th:value="${sede.id}" type="hidden"/>
                                <button onclick="return confirm('¿Esta seguro que desea eliminar la sede?')"  class="btn btn-outline-danger flex-shrink-0" type="submit">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="column" style="margin-top:20px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

        </div>





        <footer th:replace="includes/footer.html :: footer"></footer>

    </body>
</html>