<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="includes/head.html :: head">MIMESIS</head>
</head>
<body>
<h1>Nueva Función</h1>
<button type="button" class="btn btn-secondary">Volver</button>

<div class="form-group" style="width:400px; margin:auto; margin-bottom:30px;">
    <label for="name2"><i class="zmdi zmdi-account material-icons-name"></i></label>
    <input style="width:400px;" type="text" name="Nombres" id="name2" placeholder="Nombre"/>
</div>
<div class="form-group" style="width:400px; margin:auto; margin-bottom:30px;">
    <h6 style="font-size: 0.7rem; font-family: Maven Pro, Helvetica, Arial, sans-serif; color: gray;" >Fecha y hora:</h6>
    <input style="color:gray;width:400px;" type="date" name="fecha"/>
    <input style="width:400px;" type="time" name="Hora" id="name" placeholder="Hora"/>
</div>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="Genero">
        <option hidden selected>Genero</option>
        <option value="Drama">Drama</option>
        <option value="Comedia">Comedia</option>
        <option value="Ciencia ficcion">Ciencia ficcion</option>
        <option value="Aventura">Aventura</option>
        <option value="Suspenso">Suspenso</option>
        <option value="Terror">Terror</option>
    </select>
</div>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="director">
        <option hidden selected>Director</option>
        <option value="Mark">Mark</option>
        <option value="Teddy">Teddy</option>
        <option value="Javier">Javier</option>
        <option value="Jose">Jose</option>
        <option value="Piero">Piero</option>
        <option value="Diego">Diego</option>
    </select>
</div>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="restriccion">
        <option hidden selected>Restriccion de edad</option>
        <option value="Apto para todo publico">Apto para todo publico</option>
        <option value="+12">+12</option>
        <option value="+14">+14</option>
        <option value="+16">+16</option>
        <option value="+18">+18</option>
    </select>
</div>
<div class="form-group" style="width:400px; margin:auto; margin-bottom:30px;">
    <h6 style="font-size: 0.7rem; font-family: Maven Pro, Helvetica, Arial, sans-serif; color: gray;" >Precio:</h6>
    <input style="color:gray;width:400px;" type="number" name="precio"/>
</div>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="sede">
        <option hidden selected>Restriccion de edad</option>
        <option value="Sede">Sede</option>
        <option value="San Miguel">San Miguel</option>
        <option value="San Borja">San Borja</option>
        <option value="San Borja">San Isidro</option>
        <option value="San Juan de Lurigancho">San Juan de Lurigancho</option>
    </select>
</div>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="sala">
        <option hidden selected>Sala</option>
        <option value="Sala 1">Sala 1</option>
        <option value="Sala 2">Sala 2</option>
        <option value="Sala 3">Sala 3</option>
        <option value="Sala 4">Sala 4</option>
        <option value="Sala 5">Sala 5</option>
    </select>
</div>
<div class="form-group" style="width:400px; margin:auto; margin-bottom:30px;">
    <h6 style="font-size: 0.7rem; font-family: Maven Pro, Helvetica, Arial, sans-serif; color: gray;" >Aforo:</h6>
    <input style="color:gray;width:400px;" type="number" name="aforo"/>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Actores</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mark</td>
        <td>Otto</td>
    </tr>
    </tbody>
</table>
<div class=" form-group" style="width:400px;height:45px;margin:auto">
    <i class="zmdi zmdi-home" style="position: absolute;margin-bottom: 20px"></i>
    <select class="form-select form-select-sm" style="color:gray;width:400px;height:30px;border-top: none;border-left: none;border-right: none;text-indent: 30px; display:flex;align-items: center" name="actores">
        <option hidden selected>Actor</option>
        <option value="Sala 1">Willy Rex</option>
        <option value="Sala 2">AuronPlay</option>
        <option value="Sala 3">Ibai</option>
    </select>
</div>
<div>
    <h6 style="font-size: 0.7rem; font-family: Maven Pro, Helvetica, Arial, sans-serif; color: gray;" >Imagen:</h6>
    <input style="color:gray;width:400px;" type="image" name="imagen"/>
    <button >Importar</button>
</div>

<button type="button" class="btn btn-outline-danger">Cancelar</button>
<button type="button" class="btn btn-primary">Crear</button>
</body>
</html>