<!DOCTYPE html>
<html lang="en">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="/includes/navbar.html :: navbar-operador" id="header" class="d-flex align-items-center">
        </header>
        <div class='container'>
            <div class="row" >
                <div class="col-xl">
                    <p class="title">Nueva Funcion</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label for="nombre" class="letter">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre"/>
                </div>
                <div class="form-group col-xl-4">
                    <label for="fechainicio" class="letter">Fecha Inicio</label>
                    <input id="fechainicio" class="form-control" type="date" name="fechainicio"/>
                </div>
                <div class="form-group col-xl-2">
                    <label for="horainicio" class="letter">Hora Inicio</label>
                    <input id="horainicio" class="form-control" type="time" name="horainicio"/>
                    <label for="horafin" class="letter">Hora Fin</label>
                    <input id="horafin" class="form-control" type="time" name="horafin"/>
                </div>
                <div class="form-group col-xl-2">
                    <label for="genero" class="letter">Genero</label>
                    <select class="form-select" id="genero" name="genero">
                        <option hidden selected>Genero</option>
                        <option value="Drama">Drama</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Ciencia ficcion">Ciencia ficcion</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Suspenso">Suspenso</option>
                        <option value="Terror">Terror</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4">
                    <label for="director" class="letter">Director</label>
                    <select class="form-select" id="director" name="director">>
                        <option hidden selected>Director</option>
                        <option value="Mark">Mark</option>
                        <option value="Teddy">Teddy</option>
                        <option value="Javier">Javier</option>
                        <option value="Jose">Jose</option>
                        <option value="Piero">Piero</option>
                        <option value="Diego">Diego</option>
                    </select>
                </div>
                <div class="form-group col-xl-4">
                    <label for="restriccion" class="letter">Restriccion de Edad</label>
                    <select id="restriccion" class="form-select" name="restriccion">
                        <option hidden selected>Restriccion de edad</option>
                        <option value="Apto para todo publico">Apto para todo publico</option>
                        <option value="+12">+12</option>
                        <option value="+14">+14</option>
                        <option value="+16">+16</option>
                        <option value="+18">+18</option>
                    </select>
                </div>
                <div class="form-group col-xl-4">
                    <label for="sede" class="letter">Sede</label>
                    <select id="sede" class="form-select" name="sede">
                        <option hidden selected>Sede</option>
                        <option value="San Miguel">San Miguel</option>
                        <option value="San Borja">San Borja</option>
                        <option value="San Borja">San Isidro</option>
                        <option value="San Juan de Lurigancho">San Juan de Lurigancho</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-2">
                    <label for="sala" class="letter">Sala</label>
                    <select id="sala" class="form-select" name="sala">
                        <option hidden selected>Sala</option>
                        <option value="Sala 1">Sala 1</option>
                        <option value="Sala 2">Sala 2</option>
                        <option value="Sala 3">Sala 3</option>
                        <option value="Sala 4">Sala 4</option>
                        <option value="Sala 5">Sala 5</option>
                    </select>
                </div>
                <div class="form-group col-xl-2">
                    <label for="precio" class="letter">Precio</label>
                    <input id="precio" class="form-control" type="number" name="precio" min="0"/>
                    <label for="aforo" class="letter">Aforo</label>
                    <input id="aforo" class="form-control" type="number" name="aforo" min="0"/>
                </div>
                <div class="col-xl-8">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col">Actores</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>Mark2</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col">Imagenes</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" style="width: 10px;height: 10px;" th:src="@{/img/teatro.jpg}"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" style="width: 10px;height: 10px;" th:src="@{/img/teatro.jpg}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-xl-7">
                    <label for="actor" class="letter">Actor</label>
                    <select id="actor" class="form-select" name="actor">
                        <option hidden selected>Actor</option>
                        <option value="Sala 1">Willy Rex</option>
                        <option value="Sala 2">AuronPlay</option>
                        <option value="Sala 3">Ibai</option>
                    </select>
                </div>
                <div class="form-group col-xl-1">
                    <br>
                    <button type="button" class="btn btn-primary">Añadir</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-1">
                    <input style="color: transparent;" type="file">
                    <button type="button" class="btn btn-primary">Aceptar imagen</button>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <a th:href="@{/operador}" type="button" class="btn btn-outline-success">Crear Funcion</a>
                    <a th:href="@{/operador}" type="button" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </body>
</html>