<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="/includes/navbar.html :: navbar-operador" id="header" class="d-flex align-items-center">
        </header>
        <div class='container'>
            <div class="row" >
                <div class="col-xl">
                    <p class="title">Nueva Funcion</p>
                </div>
            </div>
            <div class="row">
                <form th:action="@{/operador/new}" th:object="${funcionNueva}" method="post">
                <div class="form-group col-xl-4">
                    <label for="nombre" class="letter">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre"/>
                </div>
                <div class="form-group col-xl-4">
                    <label for="fechainicio" class="letter">Fecha Inicio</label>
                    <input id="fechainicio" class="form-control" type="date" name="fechai"/>
                </div>
                <div class="form-group col-xl-2">
                    <label for="horai" class="letter">Hora Inicio</label>
                    <input id="horai" class="form-control" type="time" name="horai"/>
                    <label for="horaf" class="letter">Hora Fin</label>
                    <input id="horaf" class="form-control" type="time" name="horaf"/>
                </div>

                <div class="form-group col-xl-2">
                    <label for="genero" class="letter">Genero</label>
                    <select class="form-select" id="genero" name="genero">
                        <option hidden selected>Genero</option>
                        <option value="Drama">Drama</option>
                        <option value="Comedia">Comedia</option>
                        <option value="Ciencia ficcion">Ciencia ficcion</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Suspenso">Suspenso</option>
                        <option value="Terror">Terror</option>
                    </select>
                </div>
                <div class="row">
                <div class="form-group col-xl-4">
                    <label for="iddirector" class="letter">Director</label>
                    <select class="form-select" id="iddirector" name="iddirector">
                        <option th:each="director : ${listaDirectores}" th:value="${director.id}" th:text="${director.nombre}">Mark</option>
                    </select>
                </div>
                <div class="form-group col-xl-4">
                    <label for="restriccion" class="letter">Restriccion de Edad</label>
                    <select id="restriccion" class="form-select" name="restricciondeedad">
                        <option hidden selected>Restriccion de edad</option>
                        <option value="Apto para todo publico">Apto para todo publico</option>
                        <option value="+12">+12</option>
                        <option value="+14">+14</option>
                        <option value="+16">+16</option>
                        <option value="+18">+18</option>
                    </select>
                </div>
                <div class="form-group col-xl-4">
                    <label for="sede" class="letter">Sede</label>
                    <select id="sede" class="form-select" name="sede">
                        <option hidden selected>Sede</option>
                        <option th:each="sede : ${listaSedes}" th:value="${sede.id}" th:text="${sede.nombre}">San Miguel</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-2">
                    <label for="sala" class="letter">Sala</label>
                    <select id="sala" class="form-select" name="sala">
                        <option hidden selected>Sala</option>
                        <option th:each="sala : ${listaSalas} " th:value="${sala.id}" th:text="'Sala de id '+ ${sala.id}">Sala 1</option>
                    </select>
                </div>
                <div class="form-group col-xl-2">
                    <label for="precio" class="letter">Precio</label>
                    <input id="precio" class="form-control" type="number" name="costo" min="0"/>
                    <label for="aforo" class="letter">Aforo</label>
                    <input id="aforo" class="form-control" type="number" name="aforo" min="0"/>
                </div>
                <div class="col-xl-8">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col">Actores</th>
                        </thead>
                        <tbody>
                            <tr th:each="actor: ${listaActores}" >
                                <td th:text="${actor.nombre}" ></td>
                                <td th:text="${actor.apellido}">Mark</td>
                                <td><input type="checkbox" th:field="*{actors}" th:value="${actor.id}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col">Imagenes</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" style="width: 10px;height: 10px;" th:src="@{/img/teatro.jpg}"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" style="width: 10px;height: 10px;" th:src="@{/img/teatro.jpg}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--div class="form-group col-xl-7">
                    <label for="actor" class="letter">Actor</label>
                    <select id="actor" class="form-select" name="actor">
                        <option hidden selected>Actor</option>
                        <option value="1">Auron Play</option>
                        <option value="2">Willy Rex</option>
                    </select>
                </div>
                <div class="form-group col-xl-1">
                    <br>
                    <button class="btn btn-primary">Añadir</button>
                </div-->
            </div>
            <div class="row">
                <div class="col-xl-1">
                    <input style="color: transparent;" type="file">
                    <button type="button" class="btn btn-primary">Aceptar imagen</button>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-success">Crear Funcion</button>
                    <a th:href="@{/operador}" type="button" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
            </form>
        </div>
        </div>
    </body>
</html>