<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <header th:replace="/includes/navbar.html :: navbar(option='Operador')" id="header" class="d-flex align-items-center">
        </header>


        <div class='container'>
            <div class="row">
                <div class="col-10"></div>
                <div class="col">
                    <br>
                    <a th:href="@{/operador}" style="float: right;" type="button" class="btn btn-outline-danger">Lista Funciones</a>
                </div>
            </div>
            <div class="row" >
                <div class="col-xl">
                    <p class="title">ESTADISTICAS</p>
                </div>
            </div>

            <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
                <div class="row">
                    <label class="letter">Filtrar por rango de fecha</label>
                    <div class="form-group col-xl-4">
                        <label for="fechainicio" class="letter">Fecha Inicio</label>
                        <input id="fechainicio" class="form-control" type="date" name="FechaInicio" th:value="${fInicioSelected}"/>
                    </div>
                    <div class="form-group col-xl-4">
                        <label for="fechafin" class="letter">Fecha Fin</label>
                        <input id="fechafin" class="form-control" type="date" name="FechaFin" th:value="${fFinSelected}"/>
                    </div>
                    <div class="col-2" style="text-align: center;justify-content: center;align-items: center;">
                        <button type="submit" class="btn btn-primary" >Actualizar</button>
                    </div>
            </form>
                </div>
                 <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
                <div class="row">
                    <div class="col-6">
                        <label for="filtrar" class="letter">Filtrar funciones por: </label>
                        <select id="filtrar" class="form-select" aria-label="Default select example" name="filtro">
                            <option value="Función más vista">Función más vista</option>
                            <option value="Función menos vista"> Función menos vista</option>
                            <option value="Funcion mejor calificada">Funcion mejor calificada</option>
                        </select>
                    </div>
                        <div class="col" style="text-align: center">
                            <button type="submit" class="btn btn-primary" style="margin: auto;" >Actualizar</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col">

                        <table class="table", id="obras">
                            <thead class="thead-dark">
                                <th th:text="'Filtrado por: '+${filtroFunciones}"></th>
                                <tr>
                                    <th style="text-align: center;" scope="col">Nombre de la Obra</th>
                                    <th style="text-align: center;" scope="col">Fecha y Hora</th>
                                    <th style="text-align: center;" scope="col">Sede</th>
                                    <th style="text-align: center;" scope="col">Cantidad de Espectadores</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="funciones : ${listaFuncionesVistas}">
                                    <td style="text-align: center;"th:text="${funciones.idobra.nombre}">Hamlet</td>
                                    <td style="text-align: center;" th:text="${funciones.fecha} + ' ' + ${funciones.horainicio}">Martes 29 de Marzo del 2022 <br> 4:00pm-6:00pm</td>
                                    <td style="text-align: center;" th:text="${funciones.idsala.idsede.nombre}">San Borja</td>
                                    <td style="text-align: center;" th:text="${funciones.idsala.aforo}">148</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
                            <div class="col">

                                    <h4 class="letter">Actores mejores calificados:</h4>
                                    <div class = "box" style="margin-bottom: 10px;">
                                        <input  type="text" name="search" placeholder="Buscar" class="form-control mr-sm-2" autocomplete = "off">
                                    </div>
                                <table class="table", id="actores">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="text-align: center;" scope="col">Nombre</th>
                                            <th style="text-align: center;" scope="col">Nombre de la obra</th>
                                            <th style="text-align: center;" scope="col">Puntuación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="actor : ${listaActoresMejoresCalificados}">
                                            <td style="text-align: center;"th:text="${actor.getNombre_actor()}">Mark</td>
                                            <td style="text-align: center;"th:text="${actor.getNombre_obra()}">Movidick</td>
                                            <td style="text-align: center;"th:text="${actor.getCalificacion()}">:o</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
                            <div class="col">

                                    <h4 class="letter">Directores mejores calificados:</h4>
                                    <div class = "box" style="margin-bottom: 10px;">
                                        <input  type="text" name="search" placeholder="Buscar" class="form-control mr-sm-2" autocomplete = "off">
                                    </div>
                                <table class="table", id="directores">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="text-align: center;" scope="col">Nombre</th>
                                            <th style="text-align: center;" scope="col">Nombre de la obra</th>
                                            <th style="text-align: center;" scope="col">Puntuación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="directores : ${listaDirectoresMejoresCalificados}">
                                            <td style="text-align: center;"th:text="${directores.getNombre_director()}">Mark2</td>
                                            <td style="text-align: center;"th:text="${directores.getNombre_obra()}">Movidick</td>
                                            <td style="text-align: center;"th:text="${directores.getCalificacion()}">:o</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="col">
                    <h4 class="letter">Porcentaje de asistencia:</h4>
                <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
                    <div class="row">
                        <div class="col">
                            <select class="form-select" aria-label="Default select example" style="margin-bottom: 10px" name="opcion">
                                <option th:each="funcion : ${listaFunciones}" th:text="${funcion.idobra.nombre}" th:value="${funcion.id}"></option>
                            </select>
                        </div>
                        <div class="col-2" style="text-align: center">
                            <button type="submit" class="btn btn-primary" >Actualizar</button>
                        </div>
                    </div>
                </form>
            <div id="container" style="height: 380px"></div>

        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"

                crossorigin="anonymous">
        </script>

        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
                crossorigin="anonymous">
        </script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
                crossorigin="anonymous">
        </script>
        <script>
            $(document).ready( function () {
                $('#obras').DataTable({
                    language: {
                        processing: "Tratamiento en curso...",
                        infoEmpty: "No existen datos.",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron datos con tu busqueda",
                        emptyTable: "No hay datos disponibles en la tabla.",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "No existen datos.",
                        infoFiltered: "(filtrado de _MAX_ elementos en total)",
                        infoPostFix: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": active para ordenar la columna en orden ascendente",
                            sortDescending: ": active para ordenar la columna en orden descendente"
                        }
                    },
                    scrollY: 220,
                    lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
                    "searching": false,
                    "ordering": false,
                });
            } );

        </script>
        <script>
            $(document).ready( function () {
                $('#actores').DataTable({
                    language: {
                        processing: "Tratamiento en curso...",
                        infoEmpty: "No existen datos.",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron datos con tu busqueda",
                        emptyTable: "No hay datos disponibles en la tabla.",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "No existen datos.",
                        infoFiltered: "(filtrado de _MAX_ elementos en total)",
                        infoPostFix: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": active para ordenar la columna en orden ascendente",
                            sortDescending: ": active para ordenar la columna en orden descendente"
                        }
                    },
                    scrollY: 220,
                    lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
                    "searching": false,
                    "ordering": false,
                });
            } );

        </script>
        <script>
            $(document).ready( function () {
                $('#directores').DataTable({
                    language: {
                        processing: "Tratamiento en curso...",
                        infoEmpty: "No existen datos.",
                        loadingRecords: "Cargando...",
                        zeroRecords: "No se encontraron datos con tu busqueda",
                        emptyTable: "No hay datos disponibles en la tabla.",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "No existen datos.",
                        infoFiltered: "(filtrado de _MAX_ elementos en total)",
                        infoPostFix: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": active para ordenar la columna en orden ascendente",
                            sortDescending: ": active para ordenar la columna en orden descendente"
                        }
                    },
                    scrollY: 220,
                    lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
                    "searching": false,
                    "ordering": false,
                });
            } );

        </script>
        <footer th:replace="/includes/footer.html :: footer"></footer>
        <script th:inline="javascript">
            Highcharts.chart('container', {
                chart : {
                    type : 'pie',
                    options3d : {
                        enabled : true,
                        alpha : 50,
                        beta : 0
                    }
                },
                title : {
                    text : [[${nombre}]]
                },
                tooltip : {
                    pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions : {
                    pie : {
                        allowPointSelect : true,
                        cursor : 'pointer',
                        depth : 35,
                        dataLabels : {
                            enabled : true,
                            format : '{point.name}'
                        }
                    }
                },
                series : [ {
                    type : 'pie',
                    name : 'Ratio',
                    data : [ [ 'Asistentes' +[[${asistentes}]]+ ' personas' , [[${asistentes}]] ], [ 'No Asistentes ' +[[${noAsistentes}]]+ ' personas' , [[${noAsistentes}]] ]  ]
                } ]
            });
        </script>

    </body>
</html>