<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <header th:replace="/includes/navbar.html :: navbar(option='Operador')" id="header" class="d-flex align-items-center">
        </header>


        <div class='container'>
            <div class="row">
                <div class="col-10"></div>
                <div class="col">
                    <br>
                    <a th:href="@{/operador}" style="float: right;" type="button" class="btn btn-outline-danger">Lista Funciones</a>
                </div>
            </div>
            <div class="row" >
                <div class="col-xl">
                    <p class="title">ESTADISTICAS</p>
                </div>
            </div>

            <form class="form-inline" method="POST"th:action="@{/operador/estadisticaFuncion}">
            <div class="row">
                <label class="letter">Filtrar por rango de fecha</label>
                <div class="form-group col-xl-4">
                    <label for="fechainicio" class="letter">Fecha Inicio</label>
                    <input id="fechainicio" class="form-control" type="date" name="FechaInicio"/>
                </div>
                <div class="form-group col-xl-4">
                    <label for="fechafin" class="letter">Fecha Fin</label>
                    <input id="fechafin" class="form-control" type="date" name="FechaFin"/>
                </div>

            </div>
            <div class="row">
                <div class="col-xl">
                    <label for="filtrar" class="letter">Filtrar funciones por: </label>
                    <select id="filtrar" class="form-select" aria-label="Default select example">
                        <option selected>Mas vistas</option>
                        <option>Sede</option>
                    </select>
                </div>
                <div class="col-xl">

                        <div class="row">
                            <div class="col-10">
                                <label for="buscador" class="letter">Buscar</label>
                                <input id="buscador" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-2">
                                <br>
                                <button style="float: right;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre de la Obra</th>
                                <th scope="col">Fecha y Hora</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Cantidad de Espectadores</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hamlet</td>
                                <td>Martes 29 de Marzo del 2022 <br> 4:00pm-6:00pm</td>
                                <td>San Borja</td>
                                <td>148</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <form>
                                <h4 class="letter">Actores mejores calificados:</h4>
                                <div class = "box" style="margin-bottom: 10px;">
                                    <input  type="text" name="search" placeholder="Buscar" class="form-control mr-sm-2" autocomplete = "off">
                                </div>
                            </form>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Nombre de la obra</th>
                                        <th scope="col">Puntuación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Movidick</td>
                                        <td>:o</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form>
                                <h4 class="letter">Directores mejores calificados:</h4>
                                <div class = "box" style="margin-bottom: 10px;">
                                    <input  type="text" name="search" placeholder="Buscar" class="form-control mr-sm-2" autocomplete = "off">
                                </div>
                            </form>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Nombre de la obra</th>
                                        <th scope="col">Puntuación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mark2</td>
                                        <td>Movidick</td>
                                        <td>:o</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form  method="POST" class="row g-3" th:action="@{/operador/estadisticaFuncion}" >
                    <h4 class="letter">Porcentaje de asistencia:</h4>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" aria-label="Default select example" style="margin-bottom: 10px" name="opcion">
                                <option th:each="funcion : ${listaFunciones}" th:text="${funcion.idobra.nombre}" th:value="${funcion.id}"></option>
                            </select>
                        </div>
                        <div class="col-2" style="text-align: center">
                            <button type="submit" class="btn btn-primary" >Actualizar</button>
                        </div>
                    </div>
                    </form>
                    <div id="container" style="height: 380px"></div>

                </div>
            </div>
        </div>
        <footer th:replace="/includes/footer.html :: footer"></footer>
        <script th:inline="javascript">
            Highcharts.chart('container', {
                chart : {
                    type : 'pie',
                    options3d : {
                        enabled : true,
                        alpha : 50,
                        beta : 0
                    }
                },
                title : {
                    text : [[${nombre}]]
                },
                tooltip : {
                    pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions : {
                    pie : {
                        allowPointSelect : true,
                        cursor : 'pointer',
                        depth : 35,
                        dataLabels : {
                            enabled : true,
                            format : '{point.name}'
                        }
                    }
                },
                series : [ {
                    type : 'pie',
                    name : 'Ratio',
                    data : [ [ 'Asistentes' +[[${asistentes}]]+ ' personas' , [[${asistentes}]] ], [ 'No Asistentes ' +[[${noAsistentes}]]+ ' personas' , [[${noAsistentes}]] ]  ]
                } ]
            });
        </script>

    </body>
</html>