<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
    <body>
        <header th:replace="/includes/navbar.html :: navbar(option='Operador')" id="header" class="d-flex align-items-center">
        </header>

        <div id="content">
            <main>
                <!-- Contenido -->
                <br>
                <div class="page-header text-center">
                    <h2 th:text="${funcion.id == 0 ? 'Nueva Funcion' : 'Editar Funcion'}">Nueva Funcion</h2>
                    <h2 th:if="${funcion.id != 0}" th:text="${funcion.nombre}"></h2>
                    <br>
                </div>

                <div class="container-fluid form-center">
                    <form  method="POST" class="row g-3" th:action="@{/operador/save}" enctype="multipart/form-data" th:object="${funcion}">
                        <input type="hidden" th:field="*{id}"  >
                        <input type="hidden" th:field="*{valido}"  >
                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label>Nombre</label>
                                <br>
                                <input class="form-control " type="text" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}" >
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}"
                                     th:errors="*{nombre}"></div>
                            </div>
                            <div class="col"></div>

                        </div>

                        <div class="row" >
                            <div class="col-2">
                            </div>
                            <div class="form-group col">
                                <label>Fecha Inicio</label>
                                <br>
                                <input  class="form-control" type="date" th:field="*{fecha}" th:classappend="${#fields.hasErrors('fecha')?'is-invalid':''}" >
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('fecha')}"
                                     th:errors="*{fecha}"></div>
                            </div>
                            <div class="form-group col">
                                <label>Hora Inicio</label>
                                <br>
                                <input  class="form-control" type="time" th:field="*{horainicio}" th:classappend="${#fields.hasErrors('horainicio')|| errorTime !=null ?'is-invalid':''}" >
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('horainicio')}"
                                     th:errors="*{horainicio}"></div>
                                <div class="invalid-feedback" th:if="${errorTime!=null}"
                                     th:text="${errorTime}"></div>
                            </div>
                            <div class="form-group col">
                                <label>Hora Fin</label>
                                <br>
                                <input  class="form-control" type="time" th:field="*{horafin}" th:classappend="${#fields.hasErrors('horafin')|| errorTime !=null ?'is-invalid':''}"  >
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('horainicio')}"
                                     th:errors="*{horafin}"></div>
                                <div class="invalid-feedback" th:if="${errorTime!=null}"
                                     th:text="${errorTime}"></div>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>



                        <div class="row" th:hidden="${funcion.id != 0}" >
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label for="genero">Género</label>
                                <br>
                                <select class="form-select" id="genero" th:field="*{genero}" th:classappend="${errorGenero!=null?'is-invalid':''}">
                                    <option value="no">-Seleccione-</option>
                                    <option th:each="genero:${listaGeneros}" th:value="${genero}" th:text="${genero}"></option>
                                </select>
                                <div class="invalid-feedback" th:if="${errorGenero!=null}"
                                     th:text="${errorGenero}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>


                        <div class="row" th:hidden="${funcion.id != 0}" >
                            <div class="col">
                            </div>
                            <div class="form-group col-8">
                                <label for="iddirector" >Director</label>
                                <select class="form-select" id="iddirector" th:field="*{iddirector}" th:classappend="${#fields.hasErrors('iddirector')?'is-invalid':''}">
                                    <option th:value="-1">-Seleccione-</option>
                                    <option th:each="director : ${listaDirectores}" th:value="${director.id}" th:text="${director.nombre}">Mark</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('iddirector')}"
                                     th:errors="*{iddirector}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>


                        <div class="row"  th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8">
                                <label for="restriccion" >Restriccion de Edad</label>
                                <select id="restriccion" class="form-select" th:field="*{restricciondeedad}" th:classappend="${#fields.hasErrors('restricciondeedad')?'is-invalid':''}">
                                    <option th:value="-1">-Seleccione-</option>
                                    <option value="0">Apto para todo publico</option>
                                    <option value="12">+12</option>
                                    <option value="16">+16</option>
                                    <option value="18">+18</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('restricciondeedad')}"
                                     th:errors="*{restricciondeedad}"></div>
                            </div>

                            <div class="col">
                            </div>
                        </div>


                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label for="sede" >Sede</label>
                                <select id="sede" class="form-select" th:field="*{idsede}" th:classappend="${#fields.hasErrors('idsede')?'is-invalid':''}">
                                    <option th:value="-1">-Seleccione-</option>
                                    <option th:each="sede : ${listaSedes}" th:value="${sede.id}" th:text="${sede.nombre}">San Miguel</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('idsede')}"
                                     th:errors="*{idsede}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>

                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label for="sala" >Sala</label>
                                <select id="sala" class="form-select" th:field="*{idsala}" th:classappend="${#fields.hasErrors('idsala')|| errorMatching !=null ?'is-invalid':''}">
                                    <option th:value="-1">-Seleccione-</option>
                                    <option th:each="sala : ${listaSalas} " th:value="${sala.id}" th:text="${sala.idsede.nombre} + ' '+ ${sala.nombre}  ">Sala 1</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('idsala')}"
                                     th:errors="*{idsala}"></div>
                                <div class="invalid-feedback" th:if="${errorMatching!=null}"
                                     th:text="${errorMatching}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>

                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8">
                                <label>Precio</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">S/</div>
                                    </div>
                                    <input class="form-control" type="number" th:field="*{costo}" th:classappend="${#fields.hasErrors('costo') ||errorCosto!=null ?'is-invalid':''}"  >

                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('costo')}"
                                     th:errors="*{costo}"></div>
                                <p th:if="${errorCosto!=null}" style="color: #dc3545;font-size: .875em;"> Debe ingresar un costo mayor a 0<p>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row"th:hidden="${funcion.id != 0}" >
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label>Aforo</label>
                                <br>
                                <input  class="form-control" type="number" th:field="*{aforo}" th:classappend="${#fields.hasErrors('aforo')?'is-invalid':''}" >
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('aforo')}"
                                     th:errors="*{aforo}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="form-group col-8" >
                                <label>Descripcion</label>
                                <br>
                                <textarea class="form-control" th:field="*{descripcion}" th:classappend="${#fields.hasErrors('descripcion')?'is-invalid':''}"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}"
                                     th:errors="*{descripcion}"></div>
                            </div>
                            <div class="col">
                            </div>
                        </div>


                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="col-8" data-bs-spy="scroll" data-bs-offset="0" tabindex="0">
                                <h3>Actores</h3>
                                <p th:if="${errorActor!=null}" style="color: #dc3545;font-size: .875em;"> Debe seleccionar al menos un actor</p>
                                <table class="table" >
                                    <thead class="thead-dark">
                                        <th scope="col">Nombre</th>
                                        <th scope="col"> Apellido</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="actor: ${listaActores}" >
                                            <td th:text="${actor.nombre}" ></td>
                                            <td th:text="${actor.apellido}">Mark</td>
                                            <td><input type="checkbox" th:name="actoresObra" th:value="${actor.id}" th:checked="${funcion.id != 0}" ></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col">
                            </div>

                        </div>

                        <div class="row" th:hidden="${funcion.id != 0}">
                            <div class="col">
                            </div>
                            <div class="col-8">
                                <label for="foto" class="form-label">Fotos</label>
                                <input style="color: transparent;" type="file" accept="image/*" id="foto" name="foto" multiple>
                            </div>
                            <div class="col">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                            </div>
                            <div class="form-group col">
                                <a th:href="@{/operador}" class="btn btn-danger">Cancelar</a>
                                <button type="submit" class="btn btn-primary" >Registrar</button>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>

                    </form>
                </div>
            </main>
        </div>

    </body>
</html>