<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head.html :: head">MIMESIS</head>
<body>
<header th:replace="/includes/navbar.html :: navbar-operador" id="header" class="d-flex align-items-center">
</header>
<div class="container">
        <div class="row" >
            <div class="col-xl">
                <p class="title">Lista Funciones</p>
            </div>
        </div>
        <div class="row" >
            <div style="display:flex; align-items:center; justify-content:center; margin-top: 50px; margin-bottom: 50px;" class="col">
                <a class="btn btn-success" th:href="@{/operador/crearfuncion}" style="width:250px; background-color: black !important;">Agregar Funcion</a>

                <a class="btn btn-success" th:href="@{/operador/estadisticas}" style="width:250px; background-color: #f82249 !important;">Estadisticas</a>
            </div>
        </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;" scope="col">#</th>
                        <th style="text-align: center;" scope="col">Nombre de la obra</th>
                        <th style="text-align: center;" scope="col">Fecha y Hora</th>
                        <th style="text-align: center;" scope="col">Sede</th>
                        <th style="text-align: center;" scope="col">Editar</th>
                        <th style="text-align: center;" scope="col">Estado</th>
                        <th style="text-align: center;" scope="col">Dinero recaudado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="funcion : ${listaFunciones}">
                        <td style="text-align: center;" th:text="${funcion.id}">1</td>
                        <td style="text-align: center;"th:text="${funcion.nombre}">Movidick</td>
                        <td style="text-align: center;" th:text="${funcion.fecha} + '  ' + ${funcion.horainicio}">Hoy xd</td>
                        <td style="text-align: center;" th:text="${funcion.idsede.nombre}">San Miguel</td>
                        <td style="text-align: center;"><a th:href="@{'/operador/edit' + '?id=' + ${funcion.id}}" ><i class="bi bi-pencil-square"></i></a></td>
                        <td style="text-align: center;">Vigente</td>
                        <td style="text-align: center;"><a><i class="bi bi-download"></i></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center" >
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">2</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

<footer th:replace="/includes/footer.html :: footer"></footer>
</body>
</html>