:root{
  --color-primario:black;
  --color-secundario:#f82249;
  --color-terciario:white;
  --color-cuarto:#040919;
}
.responsive-nav {
  background-color: var(--color-primario);
}
.remove{
  color: #cccccc;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #4869df;
  background: #4869df;
  border-radius: 10px;
  text-align: center;

}
.remove:hover{
  color: #4869df;
  background: #cccccc;
}

.nav-links{
  text-decoration: none;
  color:  var(--color-terciario);
  font-size: 14px;
  font-weight: 700;
}
.nav-links:hover{
  text-decoration: none;
  color: var(--color-secundario);
}
.titulo{
  color: var(--color-secundario);
  text-transform: uppercase;
}
.titulo2{
  color:var(--color-terciario);
  text-transform: uppercase;

}
.homepage{
  background-color: var(--color-cuarto);
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
}
.imagen{
  position: relative;
  height: 100%;
  width: 100%;
}
.sliders{
  opacity: 20%;
  height: 100%;
  width: 100%;
}
.datos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.im-image{
  width:200px;
  height:286px;
  border-radius: 1.5px;
}
.col{
  padding: 0;
}
.card{
  width:200px;
  margin: 0;
  padding:0px;
}
.header-display{
  width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carta-baja{
  height:30px;
}
.link-bajo{
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-terciario);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:100%;
  background-color: #f82249;
  text-align: center;
  width:200px;
}
.link-bajo:hover{
  color:var(--color-cuarto);
}
.title-page{
  padding: 30px 0 30px 0;
  background-color:#f4f4f4;
}
.historial-page{
  padding: 30px 0 30px 0;
  background-color:#f4f4f4;
  margin: 0;

}

.text-page{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color:#505050;
  text-transform: uppercase;
}
.form-buscador{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding: 20px 0 20px 0;
}
.subtitle-page{
  background-color:#f4f4f4;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.footer-page{
  margin-top: 50px;
  background-color:black;
  padding: 30px 0 30px 0;
}
.im-footer{
  width: 100%;
  height: 100%;
}
.footer-title{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.copyright{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.footer-section{
  border-bottom:solid 1px;
}
html{
  height:100%;
  width:100%;
  overflow-x: hidden;
}
body{
  padding: 0;
  min-height: 100%;
  background: #e1e1e1;
  overflow-x: hidden;
}
.footer-text{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}
.btn-outline-primary{
  color: var(--color-secundario);
  border-color: var(--color-secundario);
}
.pages{
  text-align: center;
  margin: 30px 30px 0px;
  user-select: none;
}
.pages li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}
.pages li a{
  color: var(--color-primary);
  font-size: 1.2em;
  line-height: 45px;
  text-decoration: none;
}
.previous-pages, .next-pages{
  background:var(--color-secondary);
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
}
.previous-pages:hover{
  transform: translateX(-5px);
}
.next-pages:hover{
  transform: translateX(5px);
}
.current-pages, .dots{
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
}
.active{
  background: var(--color-secondary);
}
.disable{
  background: #ccc;
}
.image-link{
  width:200px;
  height:286px;
  text-decoration: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image-link:hover{
  background-color: black;
  opacity: 80%;
}
.image-link:hover h4{
  background-color: black;
  opacity: 80%;
}
.titulo-funcion{
  padding: 50px 0 0 0;
  color: white;
}
.cartelera-contenedor{
  position: relative;
}
.plus-see{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 2px 0;
  color: #fff;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.link-div{
  width:200px;
  height:286px;
  position: absolute;
}
.titulo-funcion{
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
}
.contenido-funcion{
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.theatre-image{
  height:200px;
  width: 100%;
}
.theatre-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #505050;
  color:var(--color-secundario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:20%;
  background-color: white;
  width:100%;
  margin:0;
}
.theatre-title1,.theatre-title1 h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:80%;
  background-color: white;
  text-align: center;
  width:100%;
  margin:0;
}
.theatre-foot{
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-terciario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:100%;
  background-color: #f82249;
  text-align: center;
  width:100%;
  margin:0;
}

.theatre-page{
  border: 1px solid #505050;
}
.theatre-row1{
  height: 80%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.theatre-row2{
  height: 20%;
  width: 100%;
  padding: 0px;
  margin: 0;
}
.theatre-sep{
  padding: 20px;
}

.actor-image{
  height:250px;
  width: 100%;
}
.actor-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #505050;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:20%;
  background-color: white;
  width:100%;
  margin:0;
}
.actor-title1,.actor-title1 h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:80%;
  background-color: white;
  text-align: center;
  width:100%;
  margin:0;
}
.actor-foot{
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-terciario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:100%;
  background-color: #f82249;
  text-align: center;
  width:100%;
  margin:0;
}

.actor-page{
  border: 1px solid #505050;
}
.actor-row1{
  height: 80%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.actor-row2{
  height: 20%;
  width: 100%;
  padding: 0px;
  margin: 0;
}
.actor-sep{
  padding: 20px;
}
.actor-mail{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.actor-tel{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.theatre-location{
  display: flex;
  align-items: center;
  justify-content: center;
}

.im-detalle{
  height: 100%;
  width: 100%;
}
.container-im-detalle{
  padding: 0px 0px 0px 0px;
}
.container-page-detalle{
  width: 100%;
  height: 100%;
}
.container-des-detalle{
  width: 100%;

}
.detalle-des{
  width: 100%;
  height: 50%;
}
.detalle-reserva{
  width: 100%;
  height: 50%;
}
.des-text{
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  background-color: var(--color-terciario);
  padding: 20px;
  text-align: left;
  height: 70%;
  width:100%;
  margin:0;
}
.des-text-2{
  color:var(--color-primario);
  height: 30%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  background-color: var(--color-terciario);
  text-align: center;
  width:100%;
  margin:0;
}
.container-des-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detalles-title{
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.info-row1,.info-row2,.info-row3,.info-row4{
  width: 100%;
  height:10%;
  margin: 0px;
  border-bottom: solid 1px var(--color-secundario);
}
.image-details{
  width: 100%;
  height: 400px;
}
.info-col1 h2,.info-col2 h2,.info-col3 h2,.info-col4 h2{
  text-align: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5px;
  text-decoration: none;
  height:10%;
  background-color: white;
  text-align: center;
  width:100%;
  margin:0;
}
.info-col2 h2, .info-col3 h2{
  font-size:14px;
  font-weight:300;
}
.info-col4 h2{
  margin-top:10px;
  font-size:20px;
  font-weight:700;
  margin-bottom:30px;
}

.info-row2{
  height:30%;
  border: 0;
}
.info-row3{
  height: 10%;
}
.info-row4{
  height: 50%;
}
.info-col1,.info-col2,.info-col3,.info-col4{
  background-color:white;
  width: 100%;
  padding: 0;
}
.details-image{
  padding: 0;
}
.details-info{
  display: flex;
  justify-content:center;
  width: 100%;
  padding: 0;
}
.pad-0{
  padding: 0;
}

.select-center{
  width: 70%;
}

.container-select{
  margin-bottom: 30px;
}

.info-row4{
  border-bottom: none;
}
.th-carrito{
  text-align: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.modal-title{
  text-align: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.td-carrito{
  text-align: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.shopping-cart{
  border: solid 1px;
}
.perfil-img{
  border-radius: 30px;
  padding: 0px 0px 0px 0px;
  height: 400px;
  width: 100%;
}
.perfil-info{
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-primario);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
}
.page-perfil{
  width: 60%;
  background-color: white;
  border: solid 2px;
  border-radius: 30px;
}
.perfil-info-secondary{
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-info-secondary{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1{
  height: 15%;
}
.invalid-feedback{
  display: block;
}