<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="includes/head.html :: head">MIMESIS</head>
<body style="background-color: white;">

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="container mt-5" style="margin-right: auto; margin-left: auto; max-width: 500px; text-align: center">
                <section style="max-width:100%; background: black; padding:30px; margin: auto; border-radius: 4px; color: white;box-shadow: 7px 13px 37px #000;">
                    <h1 class="border-bottom" style="color:crimson">Nueva Contraseña</h1>
                    <br>
                    <h6>Por favor ingrese una nueva contraseña</h6>
                    <br>

                    <form method="POST">
                        <div class="mb-3">
                            <label class="form-label">Nueva contraseña</label>
                            <input type="correo" class="form-control"/>
                        </div>
                        <br>

                        <div class="mb-3">
                            <label class="form-label">Repita nueva contraseña</label>
                            <input type="correo" class="form-control"/>
                        </div>
                        <br>

                        <div class="mb-3">
                            <div style="display:flex; align-items:center; justify-content:center;" class="column">
                                <button class="btn btn-outline-danger" style="width:150px" type="submit">Cambiar</button>
                            </div>
                        </div>
                    </form>
                </section>
                <br>
                <br>

            </div>
        </div>
    </section>

</div>
</body>
</html>