<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="navbar-operador" style="background-color: black;" id="header" class="d-flex align-items-center ">
        <div class="container-fluid container-xxl d-flex align-items-center">
            <div class="me-auto" id="logo">
                <a href=""><img th:src="@{img/logo.png}" alt="MIMESIS"></a>
            </div>
            <nav id="navbar" class="navbar navbar-expand-lg order-lg-0">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </nav>
            <a class="buy-tickets scrollto" href="#buy-tickets"><i style="margin-right: 4px; " class="bi bi-person-fill"></i> Cerrar Sesion </a>
        </div>
    </header>

 <header th:fragment="navbar-usuario" style="background-color: black;" id="header" class="d-flex align-items-center autohide navbar ">
        <div class="container-fluid container-xxl d-flex align-items-center ">
            <div class="me-auto" id="logo">
                <a href=""><img th:src="@{img/logo.png}" alt="MIMESIS"></a>
            </div>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" th:href="@{/}">Página Principal</a></li>
                    <li><a class="nav-link scrollto" href="#about">Teatros</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/funciones}">Funciones</a></li>
                    <li><a class="nav-link scrollto" href="#schedule">Actores</a></li>
                    <li><a class="nav-link scrollto" href="#venue">Directores</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a style="margin-right: 10px;margin-left: 10px;"><input type="text" class="form-control" style=" border-radius: 20px;" placeholder="Buscar obra"></a>
            <a class="buy-tickets scrollto" href="#buy-tickets"><i style="margin-right: 4px; " class="bi bi-person-fill"></i> Cerrar Sesion </a>
        </div>
    </header>





</html>
