<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="navbar">
        <div class ="row">
            <nav class="navbar d-flex justify-content-center responsive-nav align-items-center">
                <div sec:authorize="isAnonymous()" class="container rounded-3 row">
                    <div class="col-md-3 d-flex justify-content-center">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/img/logoWhiteFace.png}" alt="imagen" width="30" height="24" class="d-inline-block align-text-top">
                            <span class="titulo">mí</span><span class="titulo2">mesis</span>
                        </a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a class="nav-links" th:href="@{/}">Página Principal</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/funciones}" class="nav-links">Obras</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/teatros}" class="nav-links" >Teatros</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a  class="nav-links" th:href="@{/actores}">Actores</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/directores}" class="nav-links">Directores</a>
                    </div>
                    <div class="col-md">
                        <div class="dropdown d-flex justify-content-lg-end justify-content-center">
                            <a th:href="@{/login}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f82249" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <circle cx="12" cy="10" r="3" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('Cliente','ROLE_USER')" class="container rounded-3 row">
                    <div class="col-md-2 d-flex justify-content-center">
                        <a th:href="@{/}" class="navbar-brand">
                            <img th:src="@{/img/logoWhiteFace.png}" alt="imagen" width="30" height="24" class="d-inline-block align-text-top">
                            <span class="titulo">mí</span><span class="titulo2">mesis</span>
                        </a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a class="nav-links" th:href="@{/}">Página Principal</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/funciones}" class="nav-links">Obras</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/teatros}" class="nav-links" >Teatros</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a  class="nav-links" th:href="@{/actores}">Actores</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/directores}" class="nav-links">Directores</a>
                    </div>
                    <div sec:authorize="hasAnyAuthority('Cliente','ROLE_USER')" class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/historial}" class="nav-links">Historial</a>
                    </div>
                    <div class="col-md">
                        <div class="dropdown d-flex justify-content-lg-end justify-content-center">
                            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f82249" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <circle cx="12" cy="10" r="3" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <form method="get" th:action="@{/perfil}">
                                        <button type="submit" class="dropdown-item" >Perfil</button>
                                    </form>
                                <li>
                                    <form method="post" th:action="@{/logout}">
                                        <button type="submit" class="dropdown-item" >Cerrar sesión</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex justify-content-lg-end justify-content-center">
                            <a th:href="@{/carrito}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="52" height="52" viewBox="-2 0 32 24" stroke-width="2" stroke="#f82249" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="6" cy="19" r="2" />
                                    <circle cx="17" cy="19" r="2" />
                                    <circle cx="12" cy="12" r="13" />
                                    <path d="M17 17h-11v-14h-2" />
                                    <path d="M6 5l14 1l-1 7h-13" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('Admin')" class="container rounded-3 row">
                    <div class="col-md-3 d-flex justify-content-center">
                        <a th:href="@{/admin}" class="navbar-brand">
                            <img th:src="@{/img/logoWhiteFace.png}" alt="imagen" width="30" height="24" class="d-inline-block align-text-top">
                            <span class="titulo">mí</span><span class="titulo2">mesis</span>
                        </a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a class="nav-links" th:href="@{'/admin/salas'}">Salas</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{'/admin/sedes'}" class="nav-links">Sedes</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{'/admin/operadores'}" class="nav-links" >Operadores</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a  class="nav-links" th:href="@{'/admin/clientes'}">Clientes</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{'/admin/actores'}" class="nav-links">Actores</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{'/admin/directores'}" class="nav-links">Directores</a>
                    </div>
                    <div class="col-md">
                        <div class="dropdown d-flex justify-content-lg-end justify-content-center">
                            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f82249" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <circle cx="12" cy="10" r="3" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <form method="post" th:action="@{/logout}">
                                        <button type="submit" class="dropdown-item" >Cerrar sesión</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('Operador')" class="container rounded-3 row">
                    <div class="col-md-3 d-flex justify-content-center">
                        <a th:href="@{/admin}" class="navbar-brand">
                            <img th:src="@{/img/logoWhiteFace.png}" alt="imagen" width="30" height="24" class="d-inline-block align-text-top">
                            <span class="titulo">mí</span><span class="titulo2">mesis</span>
                        </a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a class="nav-links" th:href="@{/operador}">Funciones</a>
                    </div>
                    <div class="col-md d-flex justify-content-center text-center">
                        <a th:href="@{/operador/obras}" class="nav-links">Obras</a>
                    </div>
                    <div class="col-md">
                        <div class="dropdown d-flex justify-content-lg-end justify-content-center">
                            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f82249" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="12" cy="12" r="9" />
                                    <circle cx="12" cy="10" r="3" />
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <form method="post" th:action="@{/logout}">
                                        <button type="submit" class="dropdown-item" >Cerrar sesión</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</html>

